[2015-02-18 18:15] thisandagain opened #1 "Brazil - Design data grid"

[2015-02-18 18:16] thisandagain opened #2 "India - Web Journey Illustration"

[2015-02-18 18:16] thisandagain opened #3 "Rework the Threshold Diagram - and update the different reports"

[2015-02-18 18:34] thisandagain opened #4 "Brazil - Finalize draft report"

[2015-02-18 18:35] thisandagain opened #5 "India - Complete draft of report"

[2015-02-18 18:35] thisandagain opened #6 "India - Finalize report"
Blocked by #5

[2015-02-18 18:35] thisandagain opened #7 "Brazil - Publish report"

[2015-02-18 18:36] thisandagain opened #8 "India - Publish report"
- [x] @LauraReynal writes draft blog post and submit to @KevZawacki
- [x] @secretrobotron or @KevZawacki does copy edits
- [x] @LauraReynal writes a blog post
- [ ] @secretrobotron and @KevZawacki check blog post
- [x] @LauraReynal posts on M4D blog and Webmaker blog
- [x] @secretrobotron links to pdf on webmaker.org/localweb and hosts on www.mzl.la/india
- [ ] @LauraReynal sends to all mofo

*Edi

[2015-02-18 18:36] LauraReynal commented on #1
https://docs.google.com/document/d/1SAWkekR5zeKHN1xSpSM043FpVVvKUk_o2Kl4PiJK4N8/edit?usp=sharing

@sabrinang @thisandagain The grid which needs work is available in this document

How do we integrate footnotes?

[2015-02-18 18:38] LauraReynal commented on #2
@thisandagain would love to see our notes from Seattle, it would help me finalize the report. Thank you !

[2015-02-18 18:40] LauraReynal commented on #3
![threshold kenya](https://cloud.githubusercontent.com/assets/8261945/6254035/8f2853f2-b773-11e4-9fac-479822fd0b52.png)
So we want to cut it for each "persona group"

[2015-02-18 20:07] thisandagain commented on #2
Yup! Will scan and add to this issue this evening when I get home.

[2015-02-18 20:16] thisandagain commented on #3
Do you have the final list of persona groups for India? Do you want to stick with the same groupings as Kenya?

- Small Business Owners
- University Students
- High School Students
- Artists
- Teachers
- Journalists

[2015-02-18 20:20] LauraReynal commented on #3
Let's keep the same for now.
There is one more categorie for India = NGO worker
but I can fill it myself once there is a cut "template"

[2015-02-18 20:20] thisandagain commented on #3
:+1:

[2015-02-18 20:29] LauraReynal opened #9 "Finalize MWC report"
* Needs a Design pass
* Needs integration of the Web Journey tracked in #2

=> Can we put the threshold diagram ? I'll ask Ben.

[2015-02-18 20:29] thisandagain opened #10 "MWC - Finalize consolidated findings paper"
We need to do a design and final copy editing pass on the consolidated findings paper for MWC.

Dropbox:
`Research/MWC Synthesis/MWC_1602.indd`

Latest PDF:
https://www.dropbox.com/s/5tl151zmyjsd955/MWC_1602.pdf?dl=0

[2015-02-18 20:31] LauraReynal commented on #9
This one is a duplicate

[2015-02-18 20:31] #9 closed

[2015-02-18 20:32] LauraReynal commented on #10
Needs the Web Journey from #2 and probably the threshold if possible ?
Threshold will depend on Ben and GSMA

[2015-02-18 20:38] thisandagain commented on #10
/cc @benrito

[2015-02-18 20:56] LauraReynal commented on #10
Turns out also needs work on content following latest call - Will dive on it asap.

[2015-02-19 03:18] thisandagain commented on #2
Leaving here, but this really needs a pass through OmniGraffle to be understandable. Will do tomorrow AM.
![scan](https://cloud.githubusercontent.com/assets/747641/6261350/cdcca1b0-b7a2-11e4-8c75-4e05c20013ad.jpg)

[2015-02-19 18:28] LauraReynal commented on #2
Thanks @thisandagain it's helpful already !

[2015-02-19 20:41] thisandagain commented on #2
Assigned to self until I get the outline done.

[2015-02-19 23:25] sabrinang commented on #10
I have been working on this and can you give me some feedback?
https://www.dropbox.com/s/9y2iza6yq8pkgk4/MWC_1902.pdf?dl=0
Dropbox Folder: Research/MWC Synthesis/MWC_1902.pdf

[2015-02-20 01:08] sabrinang commented on #1
I edited the graph: https://www.dropbox.com/s/v7yk87aj4pboi9u/BrazilTable1902.pdf?dl=0
Dropbox Folder: Research/MWC Synthesis/BrazilTable1902.pdf

Let me know if it needs to match specific colours in the Brazil report or any other feedback you may have.

[2015-02-20 11:12] LauraReynal commented on #1
Thanks @sabrinang :smile: I think its good !
Im inserting them in the report now.

[2015-02-20 11:12] #1 closed

[2015-02-20 13:58] LauraReynal commented on #10
Hey @sabrinang thanks for the design pass, it looks much better now !
A couple of things:
* page 14 and 15 : The quote got cut on page 15, (Rural bangladesh) Here is the full one : -->
“Do you go on the internet?
- No, I don’t have my Facebook account yet.
- Sorry I did not mean Facebook. Have you ever been on a Website?
- Not yet, I will make my facebook account next week.”

* page 15: I find it

[2015-02-20 21:17] sabrinang commented on #10
updated: https://www.dropbox.com/s/e30f83qifkpojno/MWC_2002.pdf?dl=0
Dropbox folder: Research/MWC Synthesis/MWC_2002.pdf

I also noticed on page 14, it was had quotes that did not have a author/location after it so I added (dhaka, bangladesh) placeholder:
![mwc-feedback](https://cloud.githubusercontent.com/assets/2492510/6309476/ae7bb72c-b902-11e4-909c-8c5f7efe09f7.jpg)
Let me know what should be

[2015-02-23 18:03] LauraReynal commented on #4
The report is final, and shared with @benrito @thornet @thisandagain for a quick review before publishing.
Let's track edits in this issue if possible?

https://www.dropbox.com/s/03vf4ltt6q7vp01/Rio2302.pdf?dl=0

![img_3271](https://cloud.githubusercontent.com/assets/8261945/6333585/297f8e3c-bb86-11e4-90d6-966d286c11b2.JPG)

[2015-02-23 19:02] LauraReynal opened #11 "India - Design the graph for User Centered design"
@thisandagain @sabrinang

Would you be able to make a design work for the India Report ?
It goes with this text :

*Iterative Design*
We used our Webmaker Prototype as a research approach in order to understand the participants better, but also to involve users at the center of our design.
**Prototyping => Testing => Analyzing => Refining => Repeat**

*Innovation by Users*
We aim to meet a wide pa

[2015-02-23 21:50] LauraReynal commented on #6
Hey @sabrinang I made good progress on the Indian report transfert to indesgin
you will find in our dropbox a doc called **INDIA_2302** in the india folder.

I have reached until 'Basic Use' and will continue tomorrow, but you can still start and edit the first 47 pages if you want :smile:

Aslo if you are inspired, feel free to copy / paste the content from here.
https://docs.google.com/document/

[2015-02-24 17:48] LauraReynal commented on #6
Hey @sabrinang @thisandagain
The India Report is ready for a design pass
The document is called 24_02
thanks

[2015-02-24 17:51] LauraReynal commented on #5
Made progress. 90% done.
Still needs a bit of work in one weak part.

[2015-02-25 14:12] LauraReynal commented on #10
Add some analysis and facts from the MIT paper into the synthesis
Add a participant scope graph
Add a map
Do a general content pass on the "seriousness"

[2015-02-25 14:12] thisandagain commented on #4
Will do a pass on the graphic design of this tonight. Looks good thus far @LauraReynal

[2015-02-25 14:14] thisandagain commented on #6
@LauraReynal will take another pass this evening. Will ping you on Skype once I'm ready.

[2015-02-25 14:19] benrito commented on #10
When will we do next review pass? Has @davidascher had a look?

[2015-02-25 14:21] benrito commented on #4
This doesn’t need to be published immediately, because we’ll want the Brazil team to manage the publication and communications around it. I think they’ll also have feedback.

If this is in current heartbeat, we can close as “Finalize v1" or kick into the next heartbeat. No rush here.

[2015-02-25 14:25] LauraReynal commented on #10
@benrito trying to do the pass for tonight.
Will Let you know !

[2015-02-25 14:31] thisandagain commented on #4
Works for me! Thanks @benrito

[2015-02-25 14:31] #4 closed

[2015-02-25 14:31] benrito commented on #10
What are the competing priorities?

Given timeline and your PTO Friday, let’s agree on a final review schedule with @davidascher and @benrito kicking in?

Thanks!

[2015-02-25 14:32] thisandagain opened #12 "Brazil - Report revisions"
Continue work from https://github.com/MozillaFoundation/research/issues/4#issuecomment-75966988 including feedback from partners.

/cc @LauraReynal @benrito @thornet @soapdog

[2015-02-25 14:36] LauraReynal commented on #10
Agreed ! Final review schedule proposed

- Wednesday (today) => Laura makes some changes and sends to team by EOD - night
- Thursday => @benrito @davidascher @cecilepompei do a review and finalize the content
- Friday => @thisandagain does the final Design pass and hosts the PDF online

Competing priority is => getting India Report ready for publication.
Thanks Ben

[2015-02-25 15:15] LauraReynal commented on #8
To do:
- Laura writes draft blog post and submit to @kevinzawacki
- Kevin does copy edits
- Laura posts on M4D blog and Webmaker blog
- Laura sends to all mofo

[2015-02-25 15:20] LauraReynal opened #13 "Planning next research phase"
Update research planning for the next few months including
- Chicago research
- London research
- Time to work on BIG report synthesis

[2015-02-25 18:29] LauraReynal commented on #6
@thisandagain the report is ready for a design pass. There should not be any more pages or modifications, aside from a couple sentences here and there after re-reading all.

[2015-02-25 18:30] LauraReynal commented on #6
The doc is still named 24_02

[2015-02-25 18:32] LauraReynal commented on #5
The content of the report is finalized:
- Added Appendix
* participants scope
* research locations
* design workshops
- Added a few quotes
- Added a page about Webmaker (same as Bangladesh report )
- Streamlined the Portraits structured
- finalized a persona that was missing
.... I think its good, let me know if you see Content problems
cc @thisandagain
Closing this issue

[2015-02-25 18:33] #5 closed

[2015-02-25 18:40] LauraReynal commented on #3
This is moved to backlog, and we'll do it **after MWC** :dancer: :dancers: :skull:

[2015-02-25 18:43] LauraReynal opened #14 "Chicago & London - Write new research proposal"
And review it, in order to start the planning :earth_americas:

[2015-02-25 18:43] thisandagain commented on #5
Yay! Thanks @LauraReynal

[2015-02-25 19:10] LauraReynal opened #15 "MWC - Design the "Pillars of an Open Mobile Internet""
Hey @thisandagain could you do this sketch in our report style so as to include it in the MWC Synthesis?
I think it would really help clarify the message. Let me know if you have time, otherwise I will include it as such
![screen shot 2015-02-25 at 19 07 45](https://cloud.githubusercontent.com/assets/8261945/6378241/e11dc67a-bd21-11e4-98e8-334602de47e8.png)

[2015-02-25 19:11] LauraReynal commented on #15
http://mitpressjournals.org/userimages/ContentEditor/1415302178306/INNOVATIONS_DIGITAL-INCLUSION.pdf
Page 74 figure 5

[2015-02-25 19:33] thisandagain commented on #15
:+1:

[2015-02-25 19:43] thisandagain commented on #10
Tracking link to this report from the MOI site here: https://github.com/mozilla/webmaker.org/issues/1174#issuecomment-76038291

[2015-02-25 20:53] LauraReynal opened #16 "MWC - Research graphs"
Hey @thisandagain would you have time to make those graphs in our style guide plz?
![screen shot 2015-02-25 at 20 52 17](https://cloud.githubusercontent.com/assets/8261945/6380264/4c5bb0d8-bd30-11e4-9be4-0869a7380cdc.png)

[2015-02-25 20:56] LauraReynal commented on #16
![screen shot 2015-02-25 at 20 55 50](https://cloud.githubusercontent.com/assets/8261945/6380323/b6e72fb8-bd30-11e4-979f-5eb3b2f817cd.png)

[2015-02-25 22:03] LauraReynal commented on #10
Progress of the day: :bicyclist:

- **Combined all my numbers from 3 countries. We talked to 308 participants, spent 10 weeks in the field, in 3 countries and 16 cities.**
-  Made 2 pie charts : number of participants per country + percentage of participants living in rural/urban/others

*In the document* :pencil2:
- Added goal on p.3
- added the three pillar of the open Web = 1 page of text + the

[2015-02-25 22:05] LauraReynal commented on #6
:warning: Actually better if you can work on 25_02 document if you have not started yet. This way there is a copy somewhere. :bow: :tulip:

[2015-02-26 10:05] LauraReynal commented on #10
Pasting @cecilepompei comments here to keep track !
@cecilepompei you can leave all comments in the issues, its perfectly fine :smile:
----
Not sure how to post comments on this so sending comments directly to Laura in French.

Overall, my question for everyone is: didnt they want a two pager? In which case no need to write these intro paragraphs all the time and focus on graphes: 1) who did we sa

[2015-02-26 15:43] LauraReynal commented on #10
Progress of the day :horse_racing:

- Removed some details on participants - grouped them more

- Reworked the intro = removed some sentences, added a couple of titles for easier screening

- Added an outline so you would understand what to expect in this paper

- Added a legend on the map

- Added a title and a legend on the Web journey page

- Key Trends = took out the subtitles / added one "fin

[2015-02-26 16:32] LauraReynal commented on #12
Notes from our meeting :
** @benrito @thornet @soapdog to submit comments about the report, any questions or suggestions.
** Target publishing day is Friday 6th March

[2015-02-26 16:43] LauraReynal commented on #16
![screen shot 2015-02-26 at 16 42 26](https://cloud.githubusercontent.com/assets/8261945/6396468/85ef016e-bdd6-11e4-9557-a399f0c0a7fd.png)

[2015-02-26 16:48] LauraReynal commented on #10
Okay. Here is the latest PDF https://www.dropbox.com/s/inpo1fxck8kywcv/MWC_2602.pdf?dl=0

One question :
Do you prefer participants to be showned in numbered list, or in a lovely pie chart ? @benrito @cecilepompei @thisandagain
![screen shot 2015-02-26 at 16 42 26](https://cloud.githubusercontent.com/assets/8261945/6396598/3de18fe4-bdd7-11e4-96fa-fbadf65cee52.png)

[2015-02-26 19:11] LauraReynal commented on #10
As per latest conversation with @cecilepompei and @benrito I am living the doc for you to remix as you want ! Feel free to make changes.  Please save as a new V.2 documents so I could use this 26_02 version for later. Thanks guys

[2015-02-26 19:12] LauraReynal commented on #15
Apparently not appropriate for this report. Closing. No more work needed. Sorry if you started

[2015-02-26 19:12] #15 closed

[2015-02-26 20:06] benrito commented on #10
Hey all, made edits and streamlined as much as possible. My file is here:

https://dl.dropboxusercontent.com/u/8176339/ben_edit.indd

However, I have an old version of inDesign and I don't have the assets. So someone with the whole package will need to do another pass to make sure the graphics look OK.

@LauraReynal can you take 5 to incorporate and pass off to @thisandagain ?

[2015-02-26 20:14] benrito commented on #10
@davidascher offered to do this, but I think that some of the assets might be on @LauraReynal desktop.

(i.e., Laura's package looks incomplete to me, but it could just be my old version:  https://www.dropbox.com/sh/3dwdgsckir853n2/AADCC2otVJDfsGt58fxn-rWga/MWC%20Synthesis?dl=0)

Therefore, I believe @LauraReynal needs to package the file like this: https://helpx.adobe.com/indesign/how-to/indesign

[2015-02-26 20:20] thisandagain commented on #10
Darn. Yup... happy to help package but it certainly looks like @LauraReynal has assets linked to her local drive. @LauraReynal just ping me on Skype and I can walk you through it.

[2015-02-26 20:26] thisandagain commented on #10
Ok... I was able to rebuild by re-linking all the assets to prior reports. I have packaged and updated the directory. Please use `MWC_20150226.indd`. Let me know if you run into any other issues.

[2015-02-26 20:39] LauraReynal commented on #10
Hi all sorry I am just seeing this.
Thanks @thisandagain for linking all.

Is the file okay now ? All the assets used are normally in the Dropbox research folder.
Maybe I used a couple of screenshots for the pie chart but they were placeholders until Andrew designs them with our style guide.

@benrito,  I gave you the whole research folder but it has so many pictures it's likely that it took time

[2015-02-26 20:44] KevZawacki commented on #8
cc @HPaulJohnson

[2015-02-28 01:10] thisandagain commented on #10
Draft published here: http://mzl.la/research
:tada: :cat:

[2015-02-28 01:11] #10 closed

[2015-02-28 01:12] thisandagain commented on #16
Included in latest MWC report.

[2015-02-28 01:12] #16 closed

[2015-02-28 23:20] thisandagain commented on #10
Files are available in Dropbox:
`Research > MWC Synthesis > MWC_20150227c.indd`
`Research > MWC Synthesis > Package`
`Research > MWC Synthesis > research.pdf`

[2015-03-02 11:47] LauraReynal commented on #6
Hey @thisandagain I think we should find a way to show the Web Journey Graph each time we move to a new stage in the document. Otherwise it might be difficult for the reader to follow along: we know the graph by heart but not them.

[2015-03-02 12:07] LauraReynal commented on #6
I'm thinking instead of the double page picture I put before each new stage, we could have one picture on the left and the graph on the right. Thoughts?

[2015-03-02 14:45] ldecoursy opened #17 "Rio: localize initial report about Rio de Janeiro LAN houses"
@soapdog has offered to localize the report into Brazilian Portuguese. He has InDesign and can do it once I have access to the original file. cc @LauraReynal

Originally referenced in Mozilla-Learning repo https://github.com/MozillaFoundation/Mozilla-Learning/issues/95

[2015-03-02 14:51] LauraReynal commented on #17
I gave @soapdog access to all the necessary files.
Let me know if not okay.

[2015-03-02 16:20] LauraReynal opened #18 "Prepare new content for build.wm.org"
Update the Audience page of build.wm.org with
- Learning scenarios
- Some indian personas
- Updated Web Journey Graph

[2015-03-03 14:14] soapdog commented on #17
I am working on the translation. I am missing a Mozilla wordmark eps but this does not affect the work. I have one question though. Through the report there are many occurrences of the "Webmaker research" label/monicker, should I translate those or is it like a brand/team name that should remain in its English form?

[2015-03-03 14:49] LauraReynal opened #19 "[Build] Design the research map"
I have been mapping our research since day 1 with MapBox. For now, I have been using it as an offline tool, with screenshots of countries in the reports.
Work Proposed:
- It would be great to make a proper design of this map with our Webmaker branding.
- Create a set of icons for our participants groups (if possible?) eg. teachers, students, families ...

Goal:
Publish this map on audience and oth

[2015-03-03 14:51] LauraReynal commented on #17
I would translate "research" since its not a brand name per say. We use this phrase a lot but its not a brand :smile:

[2015-03-03 14:52] LauraReynal commented on #18
cc @secretrobotron

[2015-03-03 14:53] LauraReynal commented on #3
Note from previous meeting : brainstorm ways of making this framework understandable by people. maybe a video or interactive design

[2015-03-03 15:23] soapdog commented on #17
Thanks @LauraReynal! I will translate it.

Portuguese is much more wordy than English so phrases tend to take a lot more space. I am doing some wordsmithing here to use phrases that can fit. Thats one of the reasons why this is taking a bit longer than I wanted.

:smile:

[2015-03-03 16:05] LauraReynal opened #20 "Research and desing work week ? Workshop ?"
@thisandagain @secretrobotron is this idea still alive?

*Proposition*: Organise a workweek or design workshop to ideate on product solutions as well as curriculum ideas based on what we learned in all countries. Ideally it would gather folks from product and #teach.

*Dates*: Could happen after London or after Chicago ?

[2015-03-03 16:10] LauraReynal commented on #3
Note to self: Try to write the details for each cluster in a 3 lines paragraph to see if easier to read

[2015-03-03 16:21] thisandagain commented on #20
Let's hold off on this until after the Chicago and London research. It's likely that we'll need another design meet-up at some point this year, but without a clear ask I don't see a need for this. cc @cassiemc

[2015-03-03 16:21] #20 closed

[2015-03-03 17:17] LauraReynal commented on #6
@secretrobotron Does a grammar pass by Wednesday latest
I will input comments by thursday EOD
Publishing date - Friday

[2015-03-03 18:07] LauraReynal commented on #14
Hey @thisandagain @secretrobotron @adamlofting please review this Chicago-London proposal and add comments where you have questions.

https://docs.google.com/a/mozilla.com/document/d/1lRY7nRxkhC9nYQKG3PpakppilKkuJNw_ve2-8CJA1Wc/edit?usp=sharing

[2015-03-03 18:24] secretrobotron commented on #14
Tied to https://github.com/MozillaFoundation/plan/issues/368

[2015-03-03 18:25] secretrobotron commented on #18
Tied to https://github.com/MozillaFoundation/plan/issues/368

[2015-03-03 18:26] secretrobotron commented on #18
Tomorrow, let's chat about how we can prepare these so that they can go up on the site quickly.

[2015-03-03 18:28] secretrobotron commented on #19
There should be design resources available, so long as we raise this up to TPS. With this and https://github.com/MozillaFoundation/research/issues/18 together, I think we should propose an "update audiences page" project for an upcoming heartbeat.

[2015-03-03 18:28] secretrobotron commented on #19
Tied to https://github.com/MozillaFoundation/plan/issues/368

[2015-03-03 18:36] secretrobotron commented on #19
p.s. did you already try doing something interactive, like google map maker?

[2015-03-03 19:59] LauraReynal commented on #19
YEs Its fully interactive, I use Mapbox
I can share a login and password to any designer willing to take a stab at it :)

https://a.tiles.mapbox.com/v4/jaggedzak.jp4e6n2d/page.html?access_token=pk.eyJ1IjoiamFnZ2VkemFrIiwiYSI6IlI3eHJ2WEUifQ.oH5KfF3KOu6X43-xdo2e2w#14/-22.9079/-43.2695

[2015-03-03 20:15] LauraReynal commented on #18
yes  - we need a game plan

[2015-03-03 20:33] LauraReynal opened #21 "Bangladesh, Kenya, India: Produce metrics and pie charts"
*Goal*: take data from all past research and combine the useful metrics into pie charts for a future synthesis report.

Phase: Research
Owner: @LauraReynal
in collaboration with: @adamlofting
Lead design: n/a
Lead dev: n/a
Quality: @thisandagain, @secretrobotron

To do:
- [x] make a list of the existing metrics and choose the relevant ones
- [x] submit to team for quality
- [x] Adam set up the tab

[2015-03-03 20:36] LauraReynal opened #22 "Create a new metrics process for qualitative data"
Goal : Ensure we track the right metrics during our user research in Chicago and London, and define the process and the tools for collection.

Phase: Research
Owner: @LauraReynal
with @adamlofting
Decision: n/a
Lead design: n/a
Lead dev: n/a

To do
- [x] Look at the metrics and the actual collection process
- [x] Look at the tools used to collect
- [x] Create a dashboard

[2015-03-03 20:40] LauraReynal opened #23 "Bangladesh, Kenya, India: conduct desk research for quantitative data"
*Goal*: our existing research is purely qualitative and lacks numbers to back up our findings.

*Action* : Search for exisiting work, surveys, reports etc with numbers which could back up our work.
(example: QZ article on Internet = Facebook)

RACI

Phase: Research
Owner: @LauraReynal
Consulted: @cecilepompei
Decision: @thisandagain
Lead design: n/a
Lead dev: n/a
Quality: @thisandagain, @davidasch

[2015-03-03 20:45] LauraReynal commented on #6
@secretrobotron we need a designer to do the UCD graph from #11 do you know who we can ask?

[2015-03-03 21:01] secretrobotron commented on #14
Some timing ideas:

This week: Commit to one or two "core team" people, and book flights to Chicago (and London, if possible)
March 17: Real heartbeat kickoff meeting to prepare for Chicago. Involve all the people that need to care.
March 31: Real heartbeat kickoff meeting to prepare for London. Involve all the people that need to care.

Two full heartbeats to assign people who are on that core te

[2015-03-03 21:09] secretrobotron commented on #6
@LauraReynal : still on @thisandagain's plate. Should be done tomorrow AM.

[2015-03-04 11:19] adamlofting commented on #22
Let's work on the existing data for issue https://github.com/MozillaFoundation/research/issues/21 - then use that to inform this new metrics process.

[2015-03-04 11:23] LauraReynal opened #24 "India: write a short report for NID, to inform next steps"
I have to write a short pager (~6pages) synthesis of our work with NID, and publish it.

Phase: Reports
Owner: @LauraReynal
Decision: n/a
Lead design: n/a
Lead dev: n/a
Quality: @secretrobotron

[2015-03-04 11:26] LauraReynal commented on #13
Chicago and London are on track, still need to figure out when is the BIG report due and its scope. Closing this :cactus:

[2015-03-04 11:26] #13 closed

[2015-03-04 12:16] LauraReynal commented on #17
Hey @soapdog check your dropbox !
the Rio report has been updated with notes from ITS team
Latest indesign file : Rio20150304
Latest PDF file : Rio20150304
edits on the recommendation page - so it should not be too much trouble for you I hope !

[2015-03-04 12:17] LauraReynal commented on #17
@soapdog can you keep your PT localized files in the same dropbbox folder, with the PT name in your doc please? It would help keep track and evaluate design work needed

[2015-03-04 12:19] LauraReynal commented on #12
Included comments from Constance in the Report
Latest files are Rio20150304

Waiting from @thornet and @benrito to submit comments if you have some ?

[2015-03-04 12:19] LauraReynal commented on #12
Uploading the lates PDF here : https://www.dropbox.com/s/95smk3lh1cj3pb0/Rio20150304.pdf?dl=0

[2015-03-04 12:20] LauraReynal commented on #12
@secretrobotron do you have time for a copy edit  on this report ?

[2015-03-04 15:06] LauraReynal commented on #18
future to do list and brainstorming :
- [ ] sketch new ideas for audience page
- [ ] desing a the learning scenario
cc/ @secretrobotron

[2015-03-04 22:37] soapdog commented on #17
Will do @LauraReynal. I was keeping it in a non-Dropbox folder to avoid the net traffic of saving the file every couple seconds. I will move it there when I get back home.

[2015-03-04 23:28] thisandagain commented on #11
Illustrator file in: `India > Illustrations > user_centered_design.ai`
![user_centered_design](https://cloud.githubusercontent.com/assets/747641/6495929/19b6447e-c283-11e4-9fec-d922f4646ed2.png)

[2015-03-04 23:32] thisandagain commented on #11
Illustrator asset available at:
`India > Illustrations > iterative_design.ai`

![iterative_design](https://cloud.githubusercontent.com/assets/747641/6496009/b94a852c-c283-11e4-8dac-24a1fc4e5832.png)

[2015-03-04 23:33] #11 closed

[2015-03-04 23:33] #3 closed

[2015-03-04 23:35] LauraReynal commented on #11
Thanks @thisandagain looks great !! :smile: :camel: :dromedary_camel: :dancers:

[2015-03-05 11:30] LauraReynal commented on #21
CC / @secretrobotron @thisandagain @benrito @cecilepompei @davidascher
We identified existing metrics from the research, some are already quantified and 'easily' ready to be used, and some will take us time to go through all content again. Feel free to add / withdraw your questions !
Cheers
----
First list of metrics identified

**Non - tech**
- Age => make age groups
- Gender
- Evironment => urba

[2015-03-05 11:34] adamlofting commented on #21
Next week I will spend time formatting the spreadsheets in a way that makes it easier to input this new categorical data, and which also makes the number crunching easier afterwards.

Then where the data is comparable across countries, produce some standardized reports to write look at total numbers, and differences by country.

[2015-03-05 15:16] LauraReynal commented on #21
Did a pass on the spreadsheets Adam ! Let me know if anything unclear :santa: :christmas_tree:

[2015-03-05 17:05] secretrobotron commented on #2
@thisandagain were you able to draw something up yesterday?

[2015-03-05 21:41] LauraReynal commented on #6
@secretrobotron huge thanks for the millions of comments :smile: :jack_o_lantern: :japanese_castle: :princess: :rabbit: :fire: :ghost:

I have edited until page 99 ! Will finish tomorrow.
The latest file is 20150305.

-----
A few notes from your notes
- Cover page : the date indicates when the work was executed, not published. We did like this for the 2 previous ones, but I agree it might seem odd

[2015-03-05 22:05] secretrobotron commented on #6
:+1:

Just wanted to make sure that they actually go somewhere. They weren't links in my PDF (I couldn't click on them).

Unless it's something that people who will read this report routinely use, then yeah, define it. I've never seen it before. It's jargon.

Agreed. How about "What could enable people to progress from being "unaware"?" Then, you imply that they could wind up at any stage along th

[2015-03-05 22:05] secretrobotron commented on #6
:candy: :whale:

[2015-03-05 22:10] LauraReynal commented on #6
thanks !! :rose: :space_invader:

- Links : this is bad, because I thought they were hyperlinks. I will figure out the problem and update them all then,
- Teledensity: ok will define in footnote
- p.24 -> perfect suggestion :sparkler:
- New PDF is published, make sure you use the 20150305 :yum:

[2015-03-05 22:11] secretrobotron commented on #6
For those links: let me double-check too. It could just be the software I'm using because... software.

[2015-03-06 10:59] LauraReynal commented on #6
@secretrobotron :fish: :rabbit: :whale:
Edits are complete and new PDF is in the dropbox. Named 20150306.
Latest inDesign file is also 20150306.

:warning: I have not figured out the link problem
Here is what I did for each:
![screen shot 2015-03-06 at 11 54 59](https://cloud.githubusercontent.com/assets/8261945/6524238/c23d381c-c3f7-11e4-885c-6b14f3731d39.png)

@thisandagain do you know if it is

[2015-03-06 11:13] cecilepompei commented on #23
Pour moi, ta recherche tu as des data aussi et tu peux utiliser ton sample
pour dire que TOI sur ta recherche, tu as trouve que
xx personnes pensait qu internet = facebook
que xx personnes avait des smart phones

etc etc

On Tue, Mar 3, 2015 at 9:40 PM, Laura de Reynal <notifications@github.com>
wrote:

--
Cécile POMPEÏ
Mobile Service Lead, Webmaker.org
+44 75 98 490 115

[2015-03-06 12:17] LauraReynal commented on #23
Thanks @cecilepompei I think you are referring to the other github ticket, where I am combining metrics from the existing research #21

[2015-03-06 14:16] cassiemc commented on #6
@LauraReynal  are you exporting as an interactive PDF? I dont have the latest version of indesign but I suspect the problem would be in your export or pdf options rather than in the link panel.

[2015-03-06 14:17] LauraReynal commented on #6
@cassiemc I tried , but still isnt clicking ! :crying_cat_face:

[2015-03-06 14:18] cassiemc commented on #6
Can you screenshot your flow for saving out?

[2015-03-06 14:25] LauraReynal commented on #8
Hey @KevZawacki @HPaulJohnson @secretrobotron

Here is a draft blog post for publishing the india report:
https://m4d.etherpad.mozilla.org/BangladeshReport

Ideally we would be able to publish this by EOD, or monday the latest. We are still waiting for a 1% of work on the report itself, but are ready for your input !
Thanks

[2015-03-06 14:51] secretrobotron commented on #8
@KevZawacki @edrushka I've done a pass on @LauraReynal's blog post. Should be good to ship as long as you don't find anything egregious.

[2015-03-06 15:08] secretrobotron commented on #6
@cassiemc I can share the `indd` file if you're able to help export it.

[2015-03-06 15:11] LauraReynal commented on #6
HEy @cassiemc here is the file for older versions of indesign, but the last time i saved it like this for Ben, all links were broken... so let me know, otherwise see you in your vidyo soon :)

https://www.dropbox.com/s/a82ghiyzpabuygo/INDIA_20150306.idml?dl=0

[2015-03-06 15:33] cassiemc commented on #6
I exported the file as an Interactive pdf and was able to see links in both Preview and Acrobat (I was testing the footnote links on page 18). Here's the file I exported: https://www.dropbox.com/s/yauutu3glkxavn3/india-test-cassie.pdf?dl=0 The linked images are wonky so you can't use this as a final export, but the hyperlinks are fine.

[2015-03-06 16:09] KevZawacki commented on #8
@secretrobotron @edrushka @HPaulJohnson @LauraReynal

Just finished my copy edits. You can find latest on Google Docs: http://goo.gl/3RTJhh

We're just missing the Research Map and link to the report.

[2015-03-06 16:32] cassiemc commented on #2
Pinging @iamjessklein to see if she can help. @secretrobotron can you connect with @iamjessklein and fill her in on what's needed?

[2015-03-06 16:45] secretrobotron commented on #2
Totally. @iamjessklein : @thisandagain and @LauraReynal drew up a flow diagram to supplant the current Web Journey diagram (as seen at the bottom of http://build.webmaker.org/audience). We just need it to finish up this India report.

[2015-03-06 17:27] LauraReynal commented on #6
thanks @cassiemc for your help.
A few more changes and we are shipping.

[2015-03-06 17:58] LauraReynal commented on #8
The blog post is ready. Now we need the report ready and then I'll hit publish :)

[2015-03-06 20:42] thisandagain commented on #6
Now up at http://mzl.la/india

[2015-03-06 20:44] LauraReynal commented on #6
HUGE thanks :100: :x: :100:  @secretrobotron @thisandagain  for all the help !
:boat: :fish: :cocktail: :cat2: :jack_o_lantern: :candy: :dancer: :dart:

cc/ @davidascher @benrito -- Report published

[2015-03-06 20:44] #6 closed

[2015-03-06 20:46] LauraReynal commented on #8
Hey guys ! blog post published here https://blog.mozilla.org/m4d/2015/03/06/india-research/
Thanks for all your help !

[2015-03-06 20:46] #8 closed

[2015-03-06 21:48] thisandagain commented on #2
Added omnigraffle sketch on Dropbox:
![journey_20150306](https://cloud.githubusercontent.com/assets/747641/6537001/635c634e-c407-11e4-9d57-9bc5ffe9756b.png)

[2015-03-06 21:59] secretrobotron commented on #2
This is excellent. @iamjessklein do you think you can take a stab at turning this into a diagram to replace the Web Journey one that's in the India report?

[2015-03-07 15:13] davidascher commented on #6
nice. Long haul, good to get it out the door!

On Fri, Mar 6, 2015 at 9:44 PM, Laura de Reynal <notifications@github.com>
wrote:

[2015-03-08 15:19] cecilepompei commented on #21
Hi there!

I would add in non-tech
- how many people own a mobile phone in your family/household?
- how many smart phone in the household?
- how many digital devices in the household
- total revenue in the household (when people feel confident to share)

I will pull in research I did on micro entrepreneurs and see what is relevant to get here

cheers

[2015-03-09 18:00] adamlofting commented on #14
Added some comments just now.

[2015-03-12 13:42] iamjessklein commented on #2
@thisandagain @secretrobotron - it's unclear to me if this should be included in the graphic:

"The strongest initial motivators tend to be: "Fun", "Social / Peer", and "Attention" while both "Utility" and "Aspiration" appear more strongly as a user digs in deeper."

[2015-03-12 15:47] iamjessklein commented on #2
Here's a first stab. [Please add comments on the invision mockup](http://invis.io/HZ2FFIJG3)
![journey](https://cloud.githubusercontent.com/assets/535012/6621473/38e2a146-c8ad-11e4-83e3-29905f9331f7.png)

cc/@secretrobotron

[2015-03-12 18:28] thisandagain commented on #2
Looks good! A few small notes:
- We should imply some directionality from "Starting Conditions" to "Literacy". Right now it's a little easy to read the major progression as static / non-linear.
- Your 3rd column of dots (Capacity, Social, etc) seem to not be aligned vertically ... was this intentional? In addition, the spacing between points along a row seems to be inconsistent / arbitrary.
- Re:

[2015-03-16 16:28] benrito commented on #21
@adamlofting any update on the table-ification?

[2015-03-16 16:33] adamlofting commented on #21
It hasn't happened yet (a couple of things didn't go to plan last week).

This should be done before @LauraReynal and I are meeting on Thursday morning.

[2015-03-16 21:38] iamjessklein commented on #2
Here is a second attempt:

![letter](https://cloud.githubusercontent.com/assets/535012/6677094/47b61082-cc03-11e4-802f-e6aa68491d49.png)

[2015-03-17 11:04] LauraReynal commented on #18
Tracking details in details in this issue :
https://github.com/MozillaFoundation/plan/issues/373

[2015-03-17 11:08] LauraReynal commented on #18
Closing this one since we are tracking in plan. Will file separate tickets for each item

[2015-03-17 11:08] #18 closed

[2015-03-17 11:11] LauraReynal opened #25 "[Build] Choose indian personas to publish"
Team:
@secretrobotron and @LauraReynal

Goal:
Go over our personas list and see if we add a few from India

Proposition:
Structure personas according to the Web Journey, as we did in the India Report

- [ ] Check current personas according to the Web Journey
- [ ] Choose wich Indian ones can go on Build
- [ ] Re write shorter storie for each, select picture and prepare all content
- [ ] Ship to ht

[2015-03-17 11:13] LauraReynal commented on #19
Cc / @vazquez

[2015-03-17 11:34] LauraReynal opened #26 "[Build] Write the learning scenarios"
Goal : Include a learning scenario for each persona on the audience page

Team : @secretrobotron & @LauraReynal
Decision and consulted : @thisandagain

To Do :
- [ ] Laura writes each scenario (it's on paper, I need to digitze them)
- [ ] Review with @secretrobotron and see if design work is needed
- [ ] Review with @thisandagain
- [ ] Ship to https://github.com/MozillaFoundation/plan/issues/373

[2015-03-17 12:21] LauraReynal commented on #2
Hey @iamjessklein thanks for the progess ! A few notes :

- Is there a way to emphasis the different states ? I think it is a bit confusing now, since there is a lot of text.

- I noticed that there is an element missing before "starting conditions" => the "unaware" and "no use" states, which are quite important. Especially the "no use" . Both of these states require the 3 starting conditions. Als

[2015-03-17 14:53] iamjessklein commented on #2
:+1:  @LauraReynal and I talked offline and I am going to take another stab at this.

[2015-03-17 14:54] adamlofting commented on #21
Hey @cecilepompei - those are great questions which we should include in future research plans, but as far as I know, we don't have answers to those from the existing work. @LauraReynal is that correct?

**@ All : Update on this:**

* I've standardized the spreadsheet headings and categorical results to prepare these for analysis
  * These are consistent across the 3 country spreadsheets now
* The

[2015-03-17 15:01] LauraReynal commented on #21
@adamlofting @cecilepompei
I might have some of these info, but definetely dont have them all. It will be implemented in future research though. Thanks

@adamlofting Thanks for the spreadsheet Pass ! I'll answer your comments / questions and take a pass at it. This way thursday we can start the maths :dancer:

[2015-03-18 10:41] LauraReynal opened #27 "Chicago - Imagine a new design workshop"
Similarly to the paper prototyping done in Bangladesh, Kenya and India, the goal is to come up with a series of design activities to help us understand better what people want to make and test our tinkerability ceiling. Will share ideas in this bug for feedback.

Consulted : @flukeout @secretrobotron @thisandagain @xmatthewx

[2015-03-18 10:42] LauraReynal commented on #14
The proposal have been submitted and reviewed. I added everyone's inputs in the document. Closing this ticket. Thanks everyone !

[2015-03-18 10:42] #14 closed

[2015-03-18 10:44] LauraReynal opened #28 "Chicago - Prepare set of questions for interviews"
Create the list of questions for the interviews and submit for feedback.

[2015-03-18 10:46] LauraReynal opened #29 "Chicago - Conduct desk research"
Goal: understand the Chicago population better prior to the field experience.
To find:
- [ ] information on population's income and social classes, in order to define our ratio
- [ ] Read existing previous research

[2015-03-18 10:48] LauraReynal opened #30 "Coms - Write first draft of blog post about the Web Journey"
Writing a blog post with Michelle
Tracked in here https://github.com/mozilla/teach.webmaker.org/issues/298

[2015-03-18 10:50] #23 closed

[2015-03-18 10:50] LauraReynal opened #31 "Reports - Print the 3 countries reports"

[2015-03-18 13:26] LauraReynal commented on #27
Pasting this here for reference
https://docs.google.com/a/mozillafoundation.org/presentation/d/1-qXV4jbk3plbbXkjjerqvDyUCrCepGFDRGUM1g5XiHg/edit#slide=id.g8c52d193c_2185

[2015-03-18 16:27] LauraReynal commented on #2
Just pasting the latest here so we can keep track. Jess is currently working on an updated version.

![screen shot 2015-03-18 at 16 26 47](https://cloud.githubusercontent.com/assets/8261945/6713625/9db6955e-cd8b-11e4-9cc2-b30f3ab7687b.png)

[2015-03-18 16:43] LauraReynal opened #32 "Chicago - Write a QA testing script"
To test the new Webmaker, write a set of questions and different QA scenarios.
Will paste proposal here and submit for input.

cc / @flukeout @secretrobotron @cassiemc @thisandagain  @sabrinang @xmatthewx

Resources :

https://docs.google.com/a/mozillafoundation.org/presentation/d/1-qXV4jbk3plbbXkjjerqvDyUCrCepGFDRGUM1g5XiHg/edit#slide=id.g8c52d193c_2185

https://etherpad.mozilla.org/unified-tool

[2015-03-18 18:31] LauraReynal opened #33 "Chicago - Create participant's profiles sheet"
Create the participants profile sheets for Chicago, taking into account the new metrics needed

[2015-03-18 23:19] thisandagain commented on #2
Incredible. Great work folks! :smile: :+1: :cat2: :cake: :boom:

[2015-03-18 23:20] thisandagain commented on #2
To confirm, I'd like to have this integrated into the India report and have the published PDF updated by Friday EOD. Still do-able?

[2015-03-18 23:58] LauraReynal commented on #2
Yay ! That was our plan :) we are just looking to see if we can add the motivators - maybe on the right
Definitely published in the report by Friday

[2015-03-19 11:38] LauraReynal commented on #21
Spent time with @adamlofting reviewing the tables.
next step : Fill out all empty columns - Which means I have to go through all my interview notes.
TL DR : @benrito this is going to take some time ! Will keep you posted .

[2015-03-19 15:11] LauraReynal commented on #21
cc / @corinagardner & @APLSmith FYI work in progress on the metrics

[2015-03-19 16:07] LauraReynal commented on #17
Hey @soapdog any news on this ?

[2015-03-20 10:33] LauraReynal commented on #2
Hey @iamjessklein
My previous picture was not clear, so I am pasting this sketch here:
2 notes :
- After talking with people, we realised some important text had escaped. So I am re-inserting "Access + Capacity + need " which are *super* important => They are the 3 conditions for someone to be using the web
- Just wrote the motivators on the left, but feel free to insert them in another way if you

[2015-03-20 15:02] cassiemc commented on #2
I'm confused about how this bug is critical but is listed as a p2 in https://github.com/MozillaFoundation/plan/issues/387. @secretrobotron ?

[2015-03-20 15:58] secretrobotron commented on #2
@cassiemc it's remained critical from Feb 18. Didn't realize there was so much more work to be done on it. Probably should have been a P1.

[2015-03-20 16:35] iamjessklein commented on #2
Here's another iteration - it incorporates:
* feedback from the design team
* new feedback from @LauraReynal
* feedback already addressed on this ticket.

![webjourney-fri](https://cloud.githubusercontent.com/assets/535012/6755999/735372e6-cefd-11e4-908f-266906265d4d.png)

[2015-03-20 16:55] LauraReynal commented on #2
I love it. To me this is good to go.

GO? @thisandagain @secretrobotron ?

[2015-03-20 16:56] secretrobotron commented on #2
:+1: ship

[2015-03-20 16:56] iamjessklein commented on #2
@cassiemc just gave me some feedback. I am going to:

* cluster the "unaware" and "no use" personas in circles
* space out the elements

will not take me long.

[2015-03-20 16:57] secretrobotron commented on #2
:+1: fix then ship

[2015-03-20 17:09] cassiemc commented on #2
:+1: :zap:

[2015-03-20 17:33] LauraReynal commented on #2
ok perfect @iamjessklein let me know and I can hit send :dancer:

[2015-03-20 17:46] iamjessklein commented on #2
On redpen: https://redpen.io/p/pe0c3a8d2bb2253ccb

![journey-friday-v2](https://cloud.githubusercontent.com/assets/535012/6757429/5443c036-cf07-11e4-8116-b82d85521e6f.png)

[2015-03-20 17:47] LauraReynal commented on #2
:heart: :heart: :heart: It's so great !
Can we ship ?
@iamjessklein can you send me the file with a transparent background ? or white ? It'll be better on the report

[2015-03-20 17:49] iamjessklein commented on #2
@LauraReynal I actually think that it looks best with a touch of light green behind it. I'll send the files.

[2015-03-20 17:50] LauraReynal commented on #2
Oh ok no prob

[2015-03-20 17:52] LauraReynal commented on #2
I am closing this ticket !!!!!! :fire: :fireworks: :dancer: :rose:
Thank you so much Jess !

[2015-03-20 17:52] #2 closed

[2015-03-20 19:03] secretrobotron commented on #2
Published on mzl.la/india

[2015-03-20 20:40] benrito commented on #12
I love this, it's my favorite of the reports.

Just a handful of suggestions:

Page 5:
Replace with revised paragraph: "For these reasons, Mozilla and Ford Foundation have initiated a community-centered digital inclusion project, experimenting with new models and helping Lan Houses to serve as sustainable digital making and learning spaces."

When possible avoid abbreviations on games:

GTA —> Gra

[2015-03-23 13:32] LauraReynal commented on #30
Progress on outline and milestones is here https://docs.google.com/a/mozilla.com/document/d/1qzjUAsML3BmN5KvHDLFLwrzJX0n6GNDowz0E7a2ljqM/edit?usp=sharing
@thornet

[2015-03-23 13:35] LauraReynal commented on #12
Thank you @benrito -- Integrating and sharing asap !

[2015-03-23 15:42] benrito commented on #21
all: can you share the document link?

[2015-03-23 15:42] LauraReynal commented on #21
There is no doc yet

[2015-03-23 16:26] LauraReynal opened #34 "Orange - finir proposal"
- [x]  Step 1
- [x] step 2
cc @cecilepompei

[2015-03-23 16:27] LauraReynal commented on #34
This was a test issue for cecile - closing

[2015-03-23 16:27] LauraReynal commented on #34
@cecilepompei

[2015-03-23 16:27] cecilepompei commented on #34
super

On Mon, Mar 23, 2015 at 4:27 PM, Laura de Reynal <notifications@github.com>
wrote:

--
Cécile POMPEÏ
Mobile Service Lead, Webmaker.org
+44 75 98 490 115

[2015-03-23 16:28] #34 closed

[2015-03-24 10:48] LauraReynal opened #35 "Farmers in Tanzania"
A group of university students from Denmark are working on a research project. They reached out a month ago to partner with us, and I have started to help them. Will keep track of this work in this ticket.

*Project*: 3 students will spend 2 weeks in Tanzania to research the use of mobile technology among farmers.

[2015-03-24 11:14] LauraReynal commented on #35
http://www.ruc.dk/en/

[2015-03-24 11:43] LauraReynal commented on #32
https://etherpad.mozilla.org/its-laura-time
Notes from our discussion with tile team.

[2015-03-24 14:51] LauraReynal commented on #21
@ALPSmith I have completed / updated the bangladesh Spreadsheet with the notes

[2015-03-25 09:53] APLSmith commented on #21
Great - thanks.  Reviewing now.

[2015-03-25 16:56] LauraReynal commented on #21
@adamlofting @APLSmith
I have filled out all the India table.
Im waiting for @APLSmith to answer lignes 63 and 64 - but you should be able to start having fun.
Bangladesh is 40% done and Kenya 0%

[2015-03-25 17:02] APLSmith commented on #21
@adamlofting @LauraReynal
Have done lines 63 and 64

[2015-03-26 12:23] LauraReynal opened #36 "Souktel - Design research and product feedback method"
Tracking here :

https://github.com/MozillaFoundation/Engagement/issues/12

Need : Design and implement a feedback method for Souktel partnership

Team : Cecile + Laura
Consulted : @secretrobotron

[2015-03-26 12:24] LauraReynal commented on #36
Wrote a draft today of a few feedback questions that could be interesting.
to do : Design the google doc and submit for review

[2015-03-26 12:41] LauraReynal opened #37 "Employability Research Proposal"
*Background*: @cecilepompei and @benrito are working on a proposal for Employability and Open Source contribution / Volunteering engagement

**Big Questions** :
- If there a link between open source contribution / /volunteering at Mozilla  and employability ?
- What would people want from an organization like Mozilla  in order to start contributing?
- What would improve their employability level ?

[2015-03-26 19:38] geroter commented on #37
Cool. What if we built this research into what is emerging as a strategy in Senegal? Basically, ask people as they are engaging with our community building there if employability is important, and then do some work to track employment outcomes?

[2015-03-26 19:44] LauraReynal commented on #37
Hey Georges
Like the idea of embeding this plan into Senegal.
But if you only ask people who are already engaging with our community
building, then we would miss out on people who dont know us yet but could
be very keen on contributing. No ? I think we would need to answer both
questions.

*Laura de Reynal*
Webmaker - Field Research
@lau_nk <https://twitter.com/lau_nk>
Skype: laura-dereynal

On Th

[2015-03-26 19:50] benrito commented on #37
What are the factors leaning us toward Tunisia and Ivory Coast among the Orange countries?

[2015-03-26 19:51] benrito commented on #37
@geroter It's possible we can tap into help from Orange Foundation / CSR to integrate that into our plans. @cecilepompei can say more.

[2015-03-27 09:45] cecilepompei commented on #37
Senegal - there are a few incubators that I have intros too so we could try
there
but Orange has a preference for the hubs in Tunisia (very dynamic and keen)
and Ivory Coast to try things

On Thu, Mar 26, 2015 at 7:51 PM, Ben Moskowitz <notifications@github.com>
wrote:

--
Cécile POMPEÏ
Mobile Service Lead, Webmaker.org
+44 75 98 490 115

[2015-03-27 10:34] geroter commented on #37
Very small thing on this thread: People from Cote D'Ivoire get very annoyed with calling it Ivory Coast.

William and I are going to circle back with the broader plan early next week. This is an exciting collaboration that is shaping up between the teams, though.

[2015-03-27 14:14] soapdog commented on #17
Its on Dropbox but I might have placed it on the wrong folder. Checking and getting back to you tonight.

[2015-03-27 14:21] LauraReynal commented on #33
This is depending on #22 Waiting for the new metrics to be chosen so I'd have the correct questions to ask each participants.

[2015-03-27 14:22] LauraReynal commented on #31
This has been sent to printer.

[2015-03-27 14:22] #31 closed

[2015-03-27 14:22] LauraReynal commented on #26
Moving to heartbeat April 10

[2015-03-27 14:23] LauraReynal commented on #17
ok @soapdog let us know so we can close this, I dont have it in dropbox right now
![screen shot 2015-03-27 at 14 23 43](https://cloud.githubusercontent.com/assets/8261945/6869546/e6e08bec-d48c-11e4-96be-2f0e8190db1c.png)

[2015-03-28 12:12] soapdog commented on #17
@LauraReynal ,

I understand what happened. We both have folders for the report but they are not shared folders. You have a copy and I have a copy but they doesn't sync.

I've just shared my folder with you. Be aware not to overwrite your folder with mine because my English report file might be older than yours.

[2015-04-01 16:15] LauraReynal commented on #28
https://teach.etherpad.mozilla.org/mentorcall11

[2015-04-02 10:01] LauraReynal opened #38 "Restructure findings from previous research"
Drive : @APLSmith
Consulted: Laura
Interested : @benrito @thisandagain @secretrobotron @cecilepompei

Goal : Alex is taking a stab at restructuring all findings from previous research  in order to prep work of big report

[2015-04-02 10:03] LauraReynal opened #39 "Reworking the threshold diagram"
Goal : This diagram is not understood but has good data in there

Owner : Laura
Design lead : @sabrinang
Interested : @APLSmith @thisandagain @secretrobotron

[2015-04-02 10:04] LauraReynal opened #40 "Reworking the web journey"
Goal : Needs a second pass on the web journey for the wider GSMA report and other works

Owner : Laura
Deisgn lead :  @lovegushwa
Interested : @APLSmith @thisandagain @secretrobotron

[2015-04-02 15:13] LauraReynal commented on #27
Hey @flukeout @secretrobotron @thisandagain @xmatthewx @sabrinang
Can you guys have a look at this and insert comments/ ideas ?
https://docs.google.com/a/mozillafoundation.org/document/d/1b9Bh9Lg72qBckhRdQHL-46xHcgm3oGEDciglswfBIoQ/edit#

[2015-04-02 19:45] #29 closed

[2015-04-02 19:45] #35 closed

[2015-04-02 19:46] LauraReynal commented on #30
Draft written

[2015-04-02 19:46] #30 closed

[2015-04-03 14:30] xmatthewx commented on #27
@LauraReynal - in [bit.ly/webmaker-build](http://bit.ly/webmaker-build), you'll find a section with easy links to the various prototypes starting on [this slide](https://docs.google.com/a/mozillafoundation.org/presentation/d/1ihVXe53q6U7YLKiYURKXedE5TzOW7x7iwCNeJBY4dpE/edit#slide=id.gacde6376b_0_126).

They won't all be useful for testing, but might prompt some ideas.

[2015-04-07 08:54] LauraReynal commented on #27
Thanks @xmatthewx

[2015-04-09 14:04] LauraReynal commented on #36
Interview guidelines are here. Needs input https://drive.google.com/a/mozilla.com/folderview?id=0B0X05aIHuAbedGFwRUotV2Y4Vms&usp=sharing

[2015-04-13 12:10] soapdog commented on #17
Hi @LauraReynal can you change the email addresses to andre@mozillafoundation.org and mario@mozillafoundation.org on the contacts section, we finally got our LDAP working :-)

[2015-04-15 19:56] LauraReynal commented on #36
Project on track waiting for Souktel's input

[2015-04-15 19:56] #33 closed

[2015-04-15 19:56] #27 closed

[2015-04-15 19:56] #28 closed

[2015-04-15 19:56] #32 closed

[2015-04-15 19:57] LauraReynal opened #41 "India - finish research proposal"

[2015-04-15 19:57] LauraReynal opened #42 "Bangladesh - work on Dnet proposal"

[2015-04-15 19:57] LauraReynal opened #43 "India - Work on training proposal"

[2015-04-15 19:58] LauraReynal opened #44 "Gates - structure the approach and add it in the proposal"

[2015-04-15 19:59] LauraReynal opened #45 "Chicago - Execute research + analyze"

[2015-04-15 19:59] LauraReynal opened #46 "Chicago - Write research report + Personas + Product reco"

[2015-04-20 15:08] benrito commented on #12
Hey @LauraReynal what's the latest version? Is it ready for publication? No need to spend extra time, it's great already!

[2015-04-20 15:14] secretrobotron commented on #12
Sorry: still on me to review. Can pay attention to it this week now that
Login project is rollin. External deadline?
On Apr 20, 2015 11:08 AM, "Ben Moskowitz" <notifications@github.com> wrote:

[2015-04-20 19:03] soapdog commented on #12
As soon as we have an ok on the English version I will update the Portuguese one

[2015-04-20 19:50] benrito commented on #12
no crazy deadline but sooner we have it the more we add to project momentum

On Mon, Apr 20, 2015 at 3:03 PM, Andre Alves Garzia <
notifications@github.com> wrote:

[2015-04-26 17:29] LauraReynal commented on #17
@Soapdog - emails are updated :-)

Waiting for @secretrobotron copy review to publish.

Thanks !

*Laura de Reynal*
Webmaker - Field Research
@lau_nk <https://twitter.com/lau_nk>
Skype: laura-dereynal

On Mon, Apr 13, 2015 at 7:10 AM, Andre Alves Garzia <
notifications@github.com> wrote:

[2015-04-27 00:12] #46 closed

[2015-04-27 00:13] #44 closed

[2015-04-27 00:13] LauraReynal commented on #40
@sabrinang Lets keep track of our progress in this bug

[2015-04-27 00:25] LauraReynal opened #47 "Chicago - Wrap up research assests"
@sabrinang Lets keep track of our to-do here.
Goal : Close Chicago research trip

- [x] Participants profiles and notes - @LauraReynal
- [x] Admin - @LauraReynal
- [x] All post its must be transffered into a gdoc - @lauraReynal
- [x] Design workshop pictures uploaded + shared + observations- @LauraReynal @sabrinang
- [x] Pictures from the trip uploaded on dropbox - @sabrinang
- [x] Pictures from t

[2015-04-27 19:26] sabrinang commented on #47
photos uploaded to Research/Chicago/Photos/Sabrina

[2015-04-27 22:55] LauraReynal commented on #47
@sabrinang with the notes from the interview of K&J + The drawing I have, can we make a simple timeline for "A day in the life of a teenager in Chicago" ? will file a separate bug and add it to the list.
Let me know what you think. It might be interesting for the persona.

[2015-04-27 22:57] LauraReynal opened #48 "Chicago - Design a day in the life of teen timeline"
@sabrinang

[2015-04-27 22:59] LauraReynal commented on #47
Also adding in the list that we need to anonymize all data and change names of participants for the reports. Will add new names on the "interview Tab" Feel free to suggest names too :)

[2015-04-27 23:09] LauraReynal commented on #45
Excecuted !

[2015-04-27 23:09] #45 closed

[2015-04-28 01:20] LauraReynal commented on #39
![webjourney v2 chicago](https://cloud.githubusercontent.com/assets/8261945/7361233/c6f79752-ed1a-11e4-83de-53c1fbe2bc9c.jpg)

[2015-04-28 01:21] LauraReynal commented on #39
@sabrinang I'd like to consolidate "Unaware" and "unaware but no use" into a bigger one. As we did for creation and limited use. I will make update to the copy document. What do you think ?

[2015-04-28 01:23] LauraReynal commented on #40
@sabrinang I'd like to consolidate "Unaware" and "unaware but no use" into a bigger one. As we did for creation and limited use. I will make update to the copy document. What do you think ?

ps: this drawing is just for me to structure and vizualise, feel free to continue iterate on your design ideas. It helped me see the different blocks.

[2015-04-28 01:24] LauraReynal commented on #39
![teenagers threshold - chicago](https://cloud.githubusercontent.com/assets/8261945/7361287/68cdb3f4-ed1b-11e4-88cd-898c3c34362f.jpg)

[2015-04-28 01:25] LauraReynal commented on #39
![educators threshold chicago](https://cloud.githubusercontent.com/assets/8261945/7361297/7d80df1a-ed1b-11e4-8600-f3c434372fae.jpg)

[2015-04-28 01:25] LauraReynal commented on #39
I am guessing a Copy document will be useful - Im on it for this week

[2015-04-28 01:25] LauraReynal commented on #40
![webjourney v2 chicago](https://cloud.githubusercontent.com/assets/8261945/7361275/48f2a4b8-ed1b-11e4-83e5-02410759268e.jpg)

[2015-04-28 01:27] LauraReynal commented on #40
cc /  @jgmac1106 and @thornet if you want to follow this bug ! Trying to add skills and constraints into the journey. But could not figure out where to add "Mentors" because it happens at each stage.

[2015-04-28 02:05] thisandagain commented on #47
Awesome. Thanks @LauraReynal :smile:

[2015-04-28 04:21] LauraReynal opened #49 "Chicago - Write Report"
Owner: @LauraReynal
Design Lead: TBD
Decision : @thisandagain
Consulted: @sabrinang and @secretrobotron for content and copy

Target:
Copy done in one heartbeat => includes writing + content review + copy review May 15th
Design and publishing by the end of the month (lots of graphics to make + blog post)

The document is here https://docs.google.com/a/mozilla.com/document/d/19V4JJ7yB0-CVAFB7UqcI-A

[2015-04-30 19:43] sabrinang commented on #39
I made a sketch of organizing this diagram data:

![threshold-format-brainstorm](https://cloud.githubusercontent.com/assets/2492510/7420847/c607c3fa-ef34-11e4-9bf4-16583e087f0b.png)
I know the copy still needs to be collected and finalized but from the sketches made in Chicago I've been playing around with the format so far. I tried simplifying the threshold into larger groups and that it goes fro

[2015-04-30 21:16] LauraReynal commented on #39
Thanks @sabrinang I love your new approach on the right. I think it does simplify things to have just one way of reading it, from top to bottom.
I would just stick to one title for zone 2 : "Ambivalence" and zone 3 "Embrace"
Let me send you the copy  so we could see how it looks with all the information.
Thanks !

cc / @thisandagain does this approach seem better for you as well ?

[2015-05-01 22:18] LauraReynal commented on #39
Hey @sabrinang The copy for the teenagers is ready here https://docs.google.com/document/d/1vbq0Ve73LYOpVHdklRM85Z3QPcBmqBUpeMA0D7Jpoy4/edit

[2015-05-04 20:49] sabrinang commented on #47
All the photos I taken on the trip are uploaded to gdrive (unedited): 5. Chicago Research > Chicago Photos > Sabrina
https://drive.google.com/open?id=0B4Q8pzCpDS_efnJhSGxYY0tKRWt4cjZRcHlVQ1RUajN5ZFh2X2NiLXpvcjh6TDZUejJBek0&authuser=1

You can find edited photos of some participants in a separate folder: 5. Chicago Research > Chicago Photos > Sabrina > Edited Portraits
https://drive.google.com/open

[2015-05-04 21:06] thisandagain commented on #47
/cc @lovegushwa

[2015-05-05 09:34] LauraReynal commented on #39
@lovegushwa the copy is done for both the teenagers and the educators
You can find the doc here https://docs.google.com/document/d/1vbq0Ve73LYOpVHdklRM85Z3QPcBmqBUpeMA0D7Jpoy4/edit?usp=sharing

@secretrobotron @thisandagain Wanna have a look and do a quick copy review ?

[2015-05-05 09:37] LauraReynal commented on #47
Thanks @sabrinang . Will delete your old dropbox folder and add the participants portraits in dropbox for @lovegushwa

[2015-05-05 09:40] #41 closed

[2015-05-05 09:40] #43 closed

[2015-05-05 10:22] LauraReynal commented on #40
@lovegushwa FYI the old iterations could be found here if needed #2

Main improvements to make from that previous graphic are to
- Add the different skills
- Add the constraints somewhere if possible
- Add some quotes

I hope everything can fit. Let's chat today :koala: :dancer: :fire_engine:

You can find the final copy here
https://docs.google.com/a/mozilla.com/document/d/1r4ZW2Po0LYQaUdZ6VbCjlZ

[2015-05-05 13:08] secretrobotron commented on #39
:+1: done. Left a few comments.
btw, I love @sabrinang's new design. Much easier to read and digest.

[2015-05-05 15:07] LauraReynal opened #50 "Design workshop - Transform this experience into a detail process for content creation and Webmaker GTM"
cc @secretrobotron

- publish the design workshop
- transform it into an actionable event for communities
- Embed 5 research questions in the brief

[2015-05-06 20:05] LauraReynal commented on #47
@sabrinang I changed names of everyone and updated the PPF tab and the notes tab -- so if you ever need to quote or use things, make sure its the fake name :sunglasses:
Thanks

[2015-05-08 05:50] lovegushwa commented on #40
@cassiemc @LauraReynal  R?
v3 of the web journey.
![screen shot 2015-05-07 at 10 26 26 pm](https://cloud.githubusercontent.com/assets/12228435/7531096/4179b67c-f509-11e4-8da5-9b46cffb24f2.png)
You can see it becomes very information dense. @thisandagain suggested breaking the information out into several spreads. The diagram them morphed into a expand the visual language / evolve the typography an

[2015-05-08 13:23] LauraReynal commented on #40
Hey Jordan,
Thanks for sharing the progress. I love the way you break the information into several spreads. It might be a really good approach to keep the reader engaged in this framework for a few pages before jumping into the text explanations that will come right after.
I believe its the right approach to let it soak :+1:

About the design,
- I like the way the skeleton of the framework is buil

[2015-05-08 13:30] secretrobotron commented on #40
These look great! I actually enjoy the "dense" version as an infographic, since I expect to read through the flow of one of those slowly and carefully. Would love to use that on the audience page (cc @LauraReynal).

The middle section of the broken-out versions is a bit hard to read/follow. Not sure the gradient(s) present flow properly. Is the point of this section to showcase quotes and sentimen

[2015-05-08 14:03] cassiemc commented on #40
Hope you don't mind I added these to redpens so I could leave specific comments. @lovegushwa you should have upload powers to that redpen project if you want to update anything there. https://redpen.io/p/sg7caaf3615c984b04

Overall I really like the idea of breaking up the dense graph and spreading quotes throughout, I think that's successful. The small type looks cleaner, but the header type and

[2015-05-08 15:03] lovegushwa commented on #40
Thanks @cassiemc  @secretrobotron  @LauraReynal for the great critical input! I'm about the bike into the office, printing these out at scale will help me incorporate feedback.

[2015-05-19 21:40] #50 closed

[2015-05-19 21:43] LauraReynal opened #51 "Document design workshop"
From Chicago + London Upcoming
Upload images on flickr with legends to share easily

[2015-05-25 16:36] LauraReynal commented on #12
Closing thanks to @secretrobotron :santa: :sparkles:

[2015-05-25 16:36] #12 closed

[2015-05-25 16:38] #7 closed

[2015-06-11 02:57] #42 closed

[2015-06-11 02:58] #25 closed

[2015-06-11 02:58] #36 closed

[2015-06-11 02:58] #37 closed

[2015-06-11 03:01] LauraReynal opened #52 "Bangladesh - Write Report on Dnet Case study"
Goal: Write a report on the Dnet Case Study

Qualitative analysis : Laura
Quantitative analysis : @APLSmith
Team members : @benrito @cecilepompei
Quality : @thisandagain

[2015-06-14 03:48] LauraReynal opened #53 "Bangladesh - Close Bangladesh Trip"
- [x] Update the research map - @jaggedzak
- [x] Participant profiles must be perfect - missing some data, including a curriculum testing session ? @jaggedzak
- [x] Expenses must be perfect and all scans uploaded to drive @LauraReynal and @jaggedzak
- [x] All Dnet notes types from scan to google doc @jaggedzak
- [x] Photos uploaded to dropbox / drive / flickr @LauraReynal
- [x] Disposable cameras

[2015-06-25 21:58] xmatthewx opened #54 "Create user experience working group"
Problem: loop between design, build, research, feedback, and iteration is tooooo long

Solutions: TBD by User Experience working group

Goals:
 - Prep research with current UX questions
 - Schedule regular feedback debriefs
 - Synthesize and prioritize feedback for iteration
 - Coordinate
  - research workshops
  - remote testing
  - analytics
  - club feedback ??

Next steps:
 - schedule a meetin

[2015-06-26 17:31] cassiemc commented on #54
+me

[2015-06-30 10:42] LauraReynal commented on #53
@jaggedzak do you have a draft email / blog post to invite the community into some activities that we could review together ? let me know if I can help

[2015-07-03 10:20] LauraReynal opened #55 "Create a photo list"
cc / @lovegushwa

*Goal*: Make sure we have the pictures we need at the end of a trip.

Here is a tentative list of things we usually have to illustrate, please contribute. They can be details, emotions, colors etc. Let's be crazy !

- people learning together
- room where people are in circle or other ways to show participatory activities
- hands making stuff
- makers
- We need a way to illustrat

[2015-07-03 11:17] LauraReynal commented on #17
Hey folks, the report is published here mzl.la/rio and mzl.la/lanhouses so im closing this ticket !

[2015-07-03 11:17] #17 closed

[2015-07-03 11:21] LauraReynal commented on #53
@jaggedzak, let's plan to close this together when possible - in the meantime, feel free to send any doc you would like me to read !

[2015-07-03 12:11] LauraReynal commented on #54
+ @thisandagain FYI

[2015-07-03 12:21] LauraReynal commented on #54
Scheduled a Kick off meeting for the tuesday post-PTO
Adding @vazquez as well !

[2015-07-03 12:50] LauraReynal opened #56 "Finalize Maker Party Activities"
Goal : Publish 2 activities for Webmaker and Maker Party

1. One activity must be offline
2. The other one must be on the phone

- [x]  Laura to make the activity 1 Offline
- [ ]  Laura to make the activity 2
- [ ] @secretrobotron will put them on github
- [ ] @amirad will review and publish

[2015-07-03 14:11] LauraReynal commented on #56
FRIENDS !

I just finished to write the activity for offline creation / design here : https://docs.google.com/document/d/1MnKa_frV0grPE_DqfKzRuoYBinUZ3acQ4ac7Rq08nUk/edit#

It's very much based on the design workshops I have been doing but I remixed it for a MP audience - so let me know if its too long - too short etc. For example, I did not treat this a curriculum, and it does not have a lot of "

[2015-07-03 18:12] cassiemc commented on #55
* Might also specify a variety of compositions. Some where the subject is dead center, some where it is off to the sides, some where it is horizontal in a line or toward the tops and bottoms of an image. That would cover us for any banner images regardless of where the text is set overtop of an image.
* Also worth paying attention to shots where you can group varieties of age, gender, ethnicity.
*

[2015-07-07 20:23] amirad commented on #56
Beauty! @secretrobotron can you get this into github by end of week as well? I'll start reviewing it now.

@LauraReynal They can be used together or separately but I'm assuming people will pick one or the other based on resources/access/phones etc.

[2015-07-08 01:36] lovegushwa commented on #55
+1
Also shooting with a shallow depth of field / blurry background when subjects are in visually busy or unpleasant spaces will allow flexible cropping when needed. I will do some more thinking about specific shots to add to the list.

[2015-07-16 12:00] adamlofting commented on #54
Just had a great chat with Dominik Strohmeier who runs metrics for Firefox OS, and was previously a user researcher on that team.

Their team are also working right now on how to join up Metrics, User Research, UX and design to build 'learning loops' (I like that title).

We're going to coordinate ways to share between MoFo and FxOS (both approach, and results).

[2015-07-16 13:18] cassiemc commented on #54
Nice! Look forward to that @adamlofting. Sorry to miss the kickoff next week but will join subsequent meetings.

[2015-07-20 10:36] LauraReynal commented on #55
Thanks for the input @cassiemc @lovegushwa

[2015-07-20 10:36] #53 closed

[2015-07-20 10:37] LauraReynal commented on #56
I think we can close this  - Let me know if needs to be re-open @secretrobotron @amirad
Thanks !

[2015-07-20 10:37] #56 closed

[2015-07-21 12:00] LauraReynal opened #57 "Finalize the Digital Skills Observatory proposal"
Goal: finalize the proposal for the Digital Skills Observatory project

Deadline : Thursday 23rd

Team: @metaphorista @benrito @thisandagain @lauraReynal

Some details to do :

- [x] Refine plan with DDD - questions in this pad https://foundation.etherpad.mozilla.org/QuestionsforDDD-20Digital-20Skills-20Observatory
- [x] Scope the volunteers roles and work implied (trainings, on-boarding etc)
- [x

[2015-07-21 12:01] LauraReynal commented on #57
Working document https://docs.google.com/document/d/1IsU2Ms6IBCj0mNpNzTZK6ZOwPa7kLIgpgLDPExxcyeY/edit#heading=h.j0f3thr8farn

[2015-07-21 13:52] LauraReynal commented on #57
To add in the organizational sections:

- metrics about volunteers and events, example MozfestEA
- other research studies

[2015-07-21 14:01] LauraReynal commented on #57
To do
- [ ] remix Dnet Case Study graphic
- [ ] Make timeline

[2015-07-21 16:53] LauraReynal commented on #57
@metaphorista Here is the graphic for the methods - Let me know if this is what we talked about.

@benrito @thisandagain can you check the content please ?

- We mentioned that we would introduce 2 prototypes and so I coupled them with trainings on Q2 and Q3. Realistic ?

- We did not set up a frequency for trainings, but I made a tentative for monthly, and then, we can add more if needed. This is

[2015-07-21 17:43] LauraReynal commented on #54
Hey Folks, update from today's first UX JAM FORCE :jack_o_lantern: :strawberry: :strawberry:
Notes from our meetings https://docs.google.com/document/d/1bYjJH_RD0TinKadOiI-mRsqIXE2-X1xal0_cNOQ6JA0/edit

TL;DR
- Meet at the end of each heartbeat, on Wednesdays to discuss UX issues and User testing
- Make sure we just to file issues, but also talk over the different observations and have each stakeh

[2015-07-21 18:41] benrito commented on #57
This is an excellent graphic; couple thoughts:

•rather than monthly, we might opt for a visual that says "continuous"
"transparent" documentation
•maybe put a box around that and the workshop piece and label "increase
understanding among other stakeholders working in digital inclusion and
DFS" or something
•we might want an accompanying graphic for how we will cultivate the
trainers
•will be curi

[2015-07-21 19:55] xmatthewx commented on #54
Thanks for the recap @LauraReynal! Here's a deck for gathering ideas and testing triage: http://bit.ly/ux-jam-force

[2015-07-21 19:56] xmatthewx commented on #54
Design issue on visual triage and roadmapping: https://github.com/MozillaFoundation/Design/issues/55

[2015-07-21 21:05] LauraReynal commented on #57
Thanks for the feedback Ben,
- ok for the continous coms
- ok for the workshop label
- yes ! im working on the volunteer part on a separate doc / graph
- Will ping Michelle to ask feedback on this method.

Below is an updated version including feedback from the design team.

![gates - digital skills observatory - new page 1](https://cloud.githubusercontent.com/assets/8261945/8812331/bc9ecd1a-2ffb-

[2015-07-28 09:48] LauraReynal commented on #57
Proposal submitted :sparkles:

[2015-07-28 09:48] #57 closed

[2015-07-28 09:49] #26 closed

[2015-07-28 09:50] #19 closed

[2015-07-28 09:50] #38 closed

[2015-07-28 10:27] LauraReynal commented on #40
Hey @lovegushwa Could we close this ?
Let me know where the file is and if you think it needs more work ?
Thanks !

[2015-07-29 17:50] lovegushwa commented on #40
@LauraReynal
I uploaded the current version here:
https://drive.google.com/a/mozilla.com/folderview?id=0B2qu3ExKWIlvUEdMdHRlNFU1Zzg&usp=sharing

Check out the template, we can work together to simplify it if needed.

[2015-07-29 17:50] #40 closed

[2015-08-13 10:50] #52 closed

[2015-08-13 10:50] #47 closed

[2015-08-13 10:51] LauraReynal commented on #21
No longer needed by the team. Closing

[2015-08-13 10:51] #21 closed

[2015-08-13 10:51] LauraReynal commented on #22
@adamlofting let's add this to our monday meeting

[2015-08-13 10:53] LauraReynal opened #58 "Work with Adam to combine Chicago Data"
@adamlofting let's go through my Chicago data together on Monday.
Goal: Can you show me how to do it so that I don't need to ask you ?
Thanks !

[2015-08-13 10:56] #24 closed

[2015-08-13 10:57] LauraReynal opened #59 "Research proposal for MLN teach site"
Goal: Create a research plan for the MLN teach site.

[2015-08-13 10:59] LauraReynal opened #60 "Research proposal for NID fellows"
Goal: refine project scope and document in further details our NID fellows proposal

[2015-08-13 11:01] LauraReynal opened #61 "Design tools for artist research"
Goal: work on data collection tools and methods for the artist study
Milestone: August 21st

[2015-08-13 11:01] LauraReynal commented on #49
Closing this issue, tracking in plan

[2015-08-13 11:01] #49 closed

[2015-08-13 20:54] #39 closed

[2015-08-14 13:16] adamlofting commented on #58
Yes! Let's do this Monday :+1: :smile:

[2015-08-14 20:07] #48 closed

[2015-08-21 10:18] LauraReynal commented on #58
Thanks for the help @adamlofting :)

[2015-08-21 10:18] #58 closed

[2015-08-21 10:18] LauraReynal opened #62 "curate conversations with UX designers"

[2015-08-21 10:19] LauraReynal opened #63 "Submit proposal for Mozfest pathways"

[2015-09-04 14:29] xmatthewx opened #64 "Research hub"
Is there a single page with links to all the research reports? If not, let's make it. A wiki in this repo would work. A page on build dot Webmaker would be even nicer.

@Timboliu is looking for links.

[2015-09-04 15:33] LauraReynal commented on #64
Thanks @xmatthewx I am making a wiki page - In the meanwhile, I have this http://lauradereynal.com/research-reports/

I'll let you know when the wiki is done

[2015-09-04 16:10] Timboliu commented on #64
In which research can I find information about people don't want to create applications? When I open the research of India. I see on the first page that people want to create applications.

[2015-09-04 16:12] LauraReynal commented on #64
Each of the reports have stories and analysis about people who dont want to create, people who dont know about the web etc.
We have studied a variety of behaviors and they should be represented in each reports.

[2015-09-05 09:39] Timboliu commented on #64
Hi Laura,

When I read the stories I see indeed that a lot of people don't have much experience with the web. But if WebMaker just wants to be a simple CMS for the mobile phone (is this true?) how does WebMaker differ from WordPress? And another trend I see is that laptops and PC's are becomming cheaper. How long will it take that the next wave of internet users have bigger screens, a keyboard and

[2015-09-05 11:18] jgmac1106 commented on #64
Hey @Timboliu I am a volunteer contributor to many of the MLN products so I am sharing my perspective and not so much "official canon" First using the  words simple and wordpress together should never happen. I am a college professor working with may first generation college students who have been online most of their lives. Even they get overwhelmed by WP.

Trying to introduce a complicated mobil

[2015-09-05 14:32] Timboliu commented on #64
Hi Greg,

Thanks for your insight and the link to the roadmap.

Regards,

Tim

[2015-09-09 07:50] Timboliu commented on #64
Is it possible to share information about user activity on WebMaker? And I have another question: I understand that Webmaker focuses on 'first-time-users'. How quickly does Mozilla expect these users will learn and want more options? Does Mozilla want these users to stick with Webmaker? Or is the purpose of Webmaker that these users try other CMS's?

[2015-09-10 19:29] cassiemc commented on #64
@Timboliu I'd suggest this isn't the right issue for discussing the future of Webmaker. Try https://github.com/mozilla/webmaker-core/issues

I'm going to close this issue because it is covered by https://github.com/MozillaFoundation/plan/issues/553

[2015-09-10 19:29] #64 closed

[2015-09-11 15:42] LauraReynal commented on #55
@zee-moz

[2015-09-11 15:47] LauraReynal opened #65 "Make the research exhibition on paper"
Cc @zee-moz I'll update you here when I have a draft

[2015-09-15 14:59] LauraReynal opened #66 "To do for Indonesia Research"
- [x] Get visa letters from Angela (Bobby)
- [x] Budget approval (Laura)
- [x] Get a little bit of cash (Bobby)
- [x] Get tons of cash (Laura)

---------

- [x] Refine locations planning
- [x] Book Jakarta accommodation (Bobby)
- [x] Book Jakarta accommodation (Laura)
- [x] Book Surabaya accommodation (Bobby)
- [x] Book Surabaya accommodation (Laura)
- [x] Book Surabaya accommodation (Ina and Rara

[2015-09-15 15:00] secretrobotron opened #67 "To do for New York Research"

[2015-09-15 15:01] LauraReynal commented on #66
- [ ] Recruit participants for interviews
- [ ] Recruit participants for design workshops
- [ ] plan interview questions

[2015-09-15 15:02] secretrobotron commented on #66
Apparently, for Canadian citizens, a work (meetings) visa is attainable upon entrance to country for $35 USD: http://www.kemlu.go.id/toronto/Pages/InformationSheet.aspx?IDP=17&l=id&l=id

[2015-09-15 15:07] secretrobotron commented on #66
Advice from everyone: stay in Kosenda hotel in Jakarta.

[2015-09-15 15:09] LauraReynal commented on #67
- [ ] Schedule interviews with Amira and Julia
- [ ] Schedule design workshop 1
- [ ] Schedule design workshop 2

[2015-09-15 15:16] secretrobotron commented on #67
Bobby will arrive on the 13th.

[2015-09-15 15:21] LauraReynal commented on #67
- [ ] Prepare intro email for recruiting participants

[2015-09-15 15:22] LauraReynal commented on #66
- [ ] Prepare intro email for recruiting participants

[2015-09-15 15:42] LauraReynal commented on #67
- [ ] set up doodle

[2015-09-15 15:52] LauraReynal commented on #67
@secretrobotron

- [ ] make the participants list for  NYC and add the planetarium

[2015-09-15 16:01] secretrobotron commented on #67
@LauraReynal how's this look? Ok granularity? http://doodle.com/poll/h7za9gu4ids6tmdq

[2015-09-15 16:01] secretrobotron commented on #67
:smile_cat:

[2015-09-15 17:04] LauraReynal commented on #67
@secretrobotron The doodle is awesome :santa: :dancer: huge thanks

[2015-09-16 10:34] LauraReynal commented on #66
FIELD TO DO
- [ ] prepare participants profiles
- [ ] print participants profiles
- [ ] prepare design workshops
- [ ] get material for design workshops

[2015-09-16 11:17] LauraReynal commented on #67
Intro email for NYC is here https://etherpad.mozilla.org/introemail

[2015-09-16 11:18] LauraReynal commented on #66
I wrote 2 intro emails for indonesia here https://etherpad.mozilla.org/introemail

[2015-09-16 13:29] LauraReynal commented on #66
Purchasing trip Jakarta to Surabaya - 3 people / 4 people

[2015-09-16 13:36] LauraReynal commented on #66
rara to send budget  for mozcoffee

[2015-09-16 14:02] LauraReynal commented on #66
help the team with swag

[2015-09-17 14:00] LauraReynal commented on #66
I completed the budget for the Indonesia part
submitting for approval asap

[2015-09-17 14:14] LauraReynal commented on #66
- [ ] send laura ID + phone numbers for intra country flights @alamanda @rara79

[2015-09-17 14:44] secretrobotron commented on #66
Send shoutout on FB/Telegram to IDN Mozillians to meet up in Jakarta.

[2015-09-17 14:53] secretrobotron commented on #66
- [ ] Get Telkomsel SIMs

[2015-09-18 02:27] rara79 commented on #66
Venue confirmed for MozKopdarMKS (MozCoffee Makassar): Kedai Pojok Adhyaksa, Oct 4th.

[2015-09-19 10:16] LauraReynal commented on #67
Bobby, is your time of arrival accurate on the planning for new york ?
@secretrobotron

[2015-09-19 14:06] LauraReynal commented on #66
Here is a scratch pad for product questions https://docs.google.com/document/d/12LgqqHNYmOuMy-fJfjb_98-trtlPx_evDNU41AxWReE/edit#

[2015-09-19 14:10] LauraReynal commented on #66
Hey @alamanda @rara79 what is the name of the hotel we should book for Surabaya ? I forgot

[2015-09-19 14:26] LauraReynal commented on #66
-  @amirad do you have the contact of the Regional coordinator for the Indonesia clubs?

- @alamanda @rara79 do you know the community members who are leading the clubs in Indonesia ? https://teach.mozilla.org/clubs/
We need to make sure we talk to the club captains.

- @secretrobotron do you have a list of the people who have been running a Webmaker event ? Is there anyone to talk to specifically

[2015-09-19 15:00] rara79 commented on #66
@LauraReynal hotel in Surabaya is Santika Premiere.

@Alamanda and @eriskatp are the Regional Coordinator for Mozilla Club in Indonesia.

Also, you will meet the rest of Webmaker Launch Team in the Sept 29th event :)

[2015-09-19 15:16] LauraReynal opened #68 "To Read for MLN Research"
Goal: get up to date with MLN assets and existing research and documentation

To do:
Read as much as possible

We will be using this ticket to keep track of all the links.

[2015-09-19 15:19] #61 closed

[2015-09-19 15:19] #63 closed

[2015-09-19 15:19] #59 closed

[2015-09-19 15:19] #60 closed

[2015-09-19 15:19] #22 closed

[2015-09-19 15:46] LauraReynal opened #69 "Bring the web journey online"
upload the web journey from Chicago online

[2015-09-19 15:46] LauraReynal opened #70 "Write copy for the MVP research website"

[2015-09-19 16:20] LauraReynal opened #71 "Design Fellows project management"
To-do list for the NID fellowships

### Project Management
- [ ] Budget & admin
- [ ] MOU and others papers

### Recruiting participants
- [ ] Draft description
- [ ] run it through textio
- [ ] set up process
- [ ] start recruiting fellows

### Program design
- [ ] refine program design Q1&Q2
- [ ] refine program design Q3&Q4
- [ ] define on-boarding process
- [ ] Map the leadership development f

[2015-09-21 09:31] alamanda commented on #66
Venue confirmed for MozCoffe/Community Meetup/Focus group discussion: Domicile Kitchen
http://domicile-sby.com/about/index

[2015-09-21 09:32] alamanda commented on #66
In Sept 29th, you'll meet with at least 3 of the Mozilla Club Captains in Indonesia.

[2015-09-21 14:35] amirad commented on #66
@LauraReynal our RCs are the lovely @alamanda and Eriska (eriskaprimaya@gmail.com)

[2015-09-23 08:46] LauraReynal commented on #67
@secretrobotron check out our Doodle :-)

[2015-09-23 15:15] jvallera commented on #68
Hive Research Lab has done a lot of work in NYC: http://hiveresearchlab.org/
Particular pieces from the site that may be extra helpful in this context:
* Connected Learning Pathways: https://hiveresearchlab.files.wordpress.com/2015/05/hive-research-lab-2015-community-white-paper-brokering-future-learning-opportunities2.pdf
* Hive Youth Case Study: http://hiveresearchlab.org/2015/02/25/using-a-coll

[2015-09-23 15:22] jvallera commented on #68
Hive NYC Blog is a helpful documentation of activity: http://hivenyc.org/blog/

Particularly the Community event Recaps:
* http://hivenyc.org/2015/08/21/project-learning-lab-recap-rfp-09/
* http://hivenyc.org/2015/08/19/recap-july-hive-nyc-meet-up-with-common-sense-education/
* http://hivenyc.org/2015/08/12/mozilla-learning-at-nyc-pase-conference-2015/
* http://hivenyc.org/2015/07/09/june-2015-hiv

[2015-09-23 15:50] LauraReynal commented on #68
Thanks  @jvallera :)

[2015-10-08 10:02] LauraReynal opened #72 "community plan pre-mozfest"
work on leadership plan and document our ideas in order to meet with participation team at mozfest
@secretrobotron
When we are ready - check with Matt, ben and others.

[2015-10-19 23:37] secretrobotron opened #73 "TODO List after Indonesia + NYC Research"
#### Teach Product Report
- [ ] Summarize findings for teach website

#### Community Report
- [ ] Make vector image for Hive+Community Venn diagram
- [ ] Summarize findings specific to Indonesia culture/community
- [ ] Summarize findings specific to NYC and Hive

[2015-10-19 23:38] secretrobotron commented on #73
- [ ] Make vector image for "finger" breakdown

[2015-10-19 23:39] secretrobotron commented on #73
- [ ] Draw "finger" breakdown and upload here

[2015-10-19 23:40] secretrobotron commented on #73
- [ ] Upload latest Venn diagram here (from @LauraReynal's notebook)

[2015-10-20 00:01] LauraReynal commented on #73
YUP

[2015-10-20 12:47] LauraReynal commented on #73
Finish participants profile spreadsheet

Sent from a mobile device.
On Oct 19, 2015 7:40 PM, "Bobby Richter" <notifications@github.com> wrote:

[2015-10-20 12:48] LauraReynal commented on #73
Triage photos and videos

Sent from a mobile device.
On Oct 20, 2015 8:47 AM, "Laura de Reynal" <laurad@mozillafoundation.org>
wrote:

[2015-10-20 12:48] LauraReynal commented on #73
Send thank you note to participants

Sent from a mobile device.
On Oct 20, 2015 8:48 AM, "Laura de Reynal" <laurad@mozillafoundation.org>
wrote:

[2015-10-21 14:40] secretrobotron commented on #73
- [ ] Finish participants profile spreadsheet
- [ ] Triage photos and videos
- [ ] Send thank you note to participants

[2015-10-21 18:32] LauraReynal commented on #66
Everything on this list is done - Closing ! thanks everyone for the help

[2015-10-21 18:32] #66 closed

[2015-10-22 19:22] LauraReynal commented on #73
- [ ] type the postits

[2015-10-29 12:14] LauraReynal commented on #73
first iteration - this was made to be quick, but we should do a better one
![hive and contributors venn diagram - new page](https://cloud.githubusercontent.com/assets/8261945/10817196/a0841cee-7e38-11e5-8c9f-8ce216e0c1fe.png)

[2015-10-30 12:38] LauraReynal commented on #73
@secretrobotron can you provide critic on this new version below ? Thanks :cactus: :cat: :bouquet:
![hive and contributors venn diagram - new page](https://cloud.githubusercontent.com/assets/8261945/10845570/3a7a257a-7f09-11e5-99b5-faa1158d4e9a.png)

[2015-10-30 13:15] secretrobotron commented on #73
I don't know that there's a real tension. Maybe this:

"Mozilla helps manage the network. Constituent orgs do not feel compelled to participate in web literacy programs or tools."

[2015-10-30 13:17] secretrobotron commented on #73
Those circles look a bit misaligned.

[2015-10-30 13:23] secretrobotron commented on #73
Maybe there are a couple of questions to ask about the intersections instead of the big orange arrow at the top:
* Intersection between Hive & Contributors: How can the two networks provide value to each other?
* Middle intersection: What [programs/products] do these groups need to sustain/grow their relationship?
* Intersection between Hive & Software: What does this network need to maintain or i

[2015-10-30 13:25] secretrobotron commented on #73
"Their common point is Mozilla: the mission, the web."

[2015-10-30 13:26] secretrobotron commented on #73
"Mozilla encourages individuals to join a global learning movement. They join to support Mozilla. Readily accept web literacy programs/tools."

[2015-10-30 13:27] secretrobotron commented on #73
For the two top circles' descriptions:

"Their common focus..."

[2015-10-30 13:28] secretrobotron commented on #73
:jack_o_lantern: :japanese_goblin: :whale2:

[2015-10-30 13:29] LauraReynal commented on #73
:flags: :flashlight: :flushed:

[2015-10-30 14:37] secretrobotron commented on #73
![venn diagram 2](https://cloud.githubusercontent.com/assets/403231/10848436/4288e7fe-7ef2-11e5-92d9-99705b60a845.jpg)

[2015-10-30 15:26] LauraReynal commented on #73
WOW
that is beautiful

[2015-11-10 11:01] #72 closed

[2015-11-10 11:01] #62 closed

[2015-11-10 11:01] #65 closed

[2015-11-10 11:01] #54 closed

[2015-11-10 11:02] #51 closed

[2015-11-10 11:35] LauraReynal opened #74 "Research Lab 2016"
Decider: @davidascher
Accountable: @LauraReynal
Responsible: @adamlofting @secretrobotron @LauraReynal
Consulted: @metaphorista @benrito

Goal: Document our strategic planning for the Mozilla Foundation Research Lab
Needs to cover:
- Vision and opportunity (what is our 3 year vision, impact statements...)
- Agenda details (Which topics, how we decide them...)
- Stakeholder analysis (Who is interes

[2015-11-10 12:58] LauraReynal commented on #74
We each know a bunch of people interested in this work, whether they want to contribute or to keep being informed. Let's scope how we design and work with this network.

[2015-11-10 13:15] LauraReynal opened #75 "Crowdsource list of research questions"
@metaphorista @benrito @secretrobotron

Task: Digest learning from the women working group and crowdsource list of research questions from each partner.

Proposed method:
- [ ] Send first communications to engage people in reflecting on a few main questions
- [ ] Follow up with scheduled 1-1 with partners to document their questions and gaps
- [ ] Combine list and assess next steps

[2015-11-10 13:22] LauraReynal opened #76 "Program management structure for the DSO project"
Decision: ?
Accountable: @LauraReynal
Responsible: @lauraReynal @metaphorista @benrito @secretrobotron
Consulted: @adamlofting
Informed:

#Task
Implement our program management structure for the Digital Skills Observatory (DSO) project (aka Gates &Kenya)
Need to decide methods of communications, repository etc.

[2015-11-10 13:23] #69 closed

[2015-11-10 13:25] LauraReynal commented on #74
Things to add / review
- [ ] Stakeholder analysis
- [ ] Method to decide research agenda
- [ ] convenings
- [ ] the network
- [ ] Budget ?

[2015-11-11 19:45] benrito commented on #74
Laura, want to suggest a time to talk on Th or Fri? Wanted to update you on some meetings that touch on each of these.

Cheers!
ben

[2015-11-11 19:47] benrito commented on #76
Suggestion for first step: establish weekly call to take place until the project is bootstrapped / off the ground.

Possible to set it up for this week / early next?

Cheers!
Ben

[2015-11-11 19:49] secretrobotron commented on #76
:+1: will send out invite.

[2015-11-16 11:53] LauraReynal commented on #74
Hey @benrito I was not around last week.
Sending you a calendar to catchup early this week !

[2015-11-16 16:34] secretrobotron opened #77 "Build phase 1 of research website"

[2015-11-16 16:35] secretrobotron commented on #77
Plan ticket: https://github.com/MozillaFoundation/plan/issues/553#issuecomment-157090093

[2015-11-16 18:13] secretrobotron commented on #77
For 3rd phase, wondering if we can get to Bret Victor's point of customization per post: http://worrydream.com/

[2015-11-16 20:35] secretrobotron opened #78 "Build stakeholder map"
- [ ] build draft stakeholder map
- [ ] schedule 1-1 meetings with stakeholders
- [ ] revise map
- [ ] publish it?

[2015-11-16 20:38] secretrobotron opened #79 "Publish pictures from Indonesia on a google drive and on flickr"
- [x] make a google drive folder
- [x] put images from Indonesia in that folder (Laura)
- [x] put Webmaker launch stuff in that folder (Bobby)

[2015-11-16 20:40] secretrobotron opened #80 "[PM] India plans for January / February"
- Project: Kick-off a year of work in India and IoT
- Plan:  Convening 1 is happening from January 26th to February 14th
- Details:
  - Arrive in Bangalore.
  - Take train to Ahmedabad.
  - Make that amazing and productive –– it's a prototype for a bigger experience for Unbox Festival Dec2016 ––
  - Spend 2 weeks at NID in Ahmedabad to kick-off our fellowship program and IoT year with a first netw

[2015-11-16 20:41] secretrobotron opened #81 "Produce draft report for NYC"
- [ ] clean the shit up
- [ ] read everything and add comments
- [ ] start typing some words, without caring if its pretty
- [ ] distill into learnings we can publish quickly on our own before orlando (format TBD)
- [ ] schedule meeting with design team to make something pretty

[2015-11-16 20:42] secretrobotron opened #82 "Produce draft report for Indonesia"
- [ ] clean the shit up
- [ ] read everything and add comments
- [ ] start typing some words, without caring if its pretty
- [ ] distill into learnings we can publish quickly on our own before orlando (format TBD)
- [ ] schedule meeting with design team to make something pretty

[2015-11-16 20:47] secretrobotron opened #83 "Prepare slide deck to present NID and Kenya"
- [x] build slide deck to talk about NID and Kenya
- [ ] send to MoFos
- [ ] talk about it on demo call
- [ ] schedule a MoFo-oriented brownbag to talk about it
- [ ] talk on Mozilla project call
- [ ] schedule a talk/session/something in Orlando

[2015-11-16 20:51] secretrobotron opened #84 "Build plan for working with participation team"
- [x] schedule chat with participation folks
- [x] share our plans now, discover their plans for next year
- [ ] work on a joint plan (what is that?)
- [ ] meet in orlando to talk about making it happen?

[2015-11-16 21:02] LauraReynal commented on #68
I'd like to keep it open so that we can read as much as possible for our report. ok for now ? Let's have this on our mind for the next 3 weeks pre-Orlando

[2015-11-16 21:07] secretrobotron commented on #68
Oh, cool!

[2015-11-17 13:33] LauraReynal commented on #76
Team,
Here is the folder for all the docs regarding DSO
https://drive.google.com/drive/folders/0B0X05aIHuAbefnZ4X2JIRmRQUDJiSjhKUERldmN5MGEwcGNDbVBIcnBGSnc3YXI5VE5OUmc

Here is the sub folder where we will keep our meeting notes for now
https://drive.google.com/open?id=0B0X05aIHuAbeSzhjU2NVaW9qRFk

[2015-11-17 15:24] LauraReynal commented on #76
Schedule weekly with DDD
Attendees:
- Ben + Bobby + Lynn + Laura + Adam
- David
- Kalpana
- Joash
- Jeremy

[2015-11-18 21:01] LauraReynal opened #85 "Design HackTrain India experience"
Team: @secretrobotron @thornet @ileddigital

35 hours in a train + an awesome team = ??? :smile: :fireworks:

Let's use this ticket to write down ideas and plans.

Example:
-  interview a maximum number of passenger and document it as rad as possible
- explore new ethnography ideas and tecnics ( design a rad ethnography experience)
- play 23 questions
- cook in the train
- convert the train into a

[2015-11-18 22:02] LauraReynal opened #86 "Roll out call for proposals - Fellows India"
Goal: Recruit 2 Fellows in India with NID and Quicksand

Team: @ileddigital @secretrobotron

To do:
- [ ] finish the "job" description
- [ ] review it with Claw and others
- [ ] review with Praveen and Babitha
- [ ] share out

[2015-11-18 22:03] LauraReynal commented on #86
First draft is here:
-----

The Mozilla fellowship for design research is a unique opportunity for researchers and designers who want to influence creative learning methods and the future of a web with things.

We are looking for designers, researchers and passionate individuals who have a strong interest in product design, ethnographic research, social impact, teaching, and learning environments.

[2015-11-18 22:03] secretrobotron opened #87 "[PM] Budget for IoT projects = EU + India"
Make sure budget is defined, finalized and approved.

Need to figure out how it connects to wider IoT project.

Details on page 12
: https://docs.google.com/document/d/18JkDK5TiFXG_ZMLkJ84HQxX1aX6zGmZKsYOMjQFrGpc/edit#

[2015-11-18 22:11] secretrobotron commented on #87
@davidascher can you add details wrt how this budget connects to wider IoT project? Need to expand the budget? If so, how?

[2015-11-19 21:42] LauraReynal opened #88 "Create calendar for India Year"
Task: create calendar for the India project. With a yearly view + a detailed tab per trip.
Responsible: yours truly
Informed: @secretrobotron and core team

Todo:
- [ ] port existing timeline into calendar
- [ ]  Create February calendar
- [ ] set-up dates to meet with community members

[2015-11-19 22:20] secretrobotron opened #89 "Open Research Questions"
Tracking open research questions from interested people around the org (or outside).

[2015-11-19 22:21] secretrobotron commented on #89
### Leaders in Network
* How did they arrive here?
* Were they looking for a network specifically? Or something else?
* What do they want from a network? Funding? Peers with similar problems, similar opportunities, or similar projects?
  * Do they want collaboration? Socializing? Moral support?
* What tools help them maintain and utilize their connection to this and other networks?
* What tools ar

[2015-11-20 10:36] LauraReynal opened #90 "update research KPIs and share with core team"
Task: Update the research KPIs with the latest number and share the document with teams.
cc @secretrobotron

[2015-11-20 10:38] LauraReynal opened #91 "Webmaker communication for events"
Task: decide what is to be done for supporting Webmaker events. Write up a communication and share with community members.
Team: @secretrobotron @HPaulJohnson @KevZawacki

[2015-11-20 10:49] LauraReynal commented on #91
Meeting request sent, let's make decision and plan on monday.

[2015-11-20 11:06] LauraReynal opened #92 "Reimburse train tickets to Babitha"
Get simon's answer
Reimburse Babitha

[2015-11-20 11:22] LauraReynal opened #93 "Create Research budget for 2016"
Decision: Mark
Accountable: @davidascher
Responsible: @lauraReynal @adamlofting @secretrobotron
Consulted: ?
Informed ?

Task: Provide a budget estimate for 2016, based on the various elements and activities of the Research Lab proposal.

[2015-11-20 11:55] secretrobotron commented on #93
@LauraReynal can we start with estimates/actuals from last year?

[2015-11-20 11:56] LauraReynal commented on #93
Yes. V1 for next week?

[2015-11-20 12:00] secretrobotron commented on #93
:+1:

[2015-11-20 12:02] secretrobotron opened #94 "[meta] Reading list for Bobby"
- [ ] http://betterevaluation.org/plan/approach/most_significant_change
- [ ] Kenya Financial Diaries Report 2014

[2015-11-20 12:09] secretrobotron opened #95 "[tracking] Finish 2016 Plan"
- [ ] Finish budget: #93
- [ ] Update and share KPIs: #90

[2015-11-20 12:15] LauraReynal opened #96 "Make research email address"
@secretrobotron do you know how to have an email address for anyone to write to us ?
Ideally, this would go to you+adam+I
We can replace my email on the reports with this address.

I filed a ticket a while ago, but research@mozilla.org is already taken.

- 1: should we get research@mozillafoundation.org ?
- 2: is there a way that it does not spam us like mobileopportunity or explorers lists ?

[2015-11-20 13:47] LauraReynal opened #97 "Research network document"
Articulate our initial thinking about the research network(s)
This idea is mentioned in the research lab document, and we have spoke about it quite a lot, but we have not documented it in details.

@secretrobotron @adamlofting

[2015-11-20 13:49] secretrobotron commented on #97
Useful in conversations about how to form a good network (maybe with Chris/Amira).

Would like to understand how it can be used to welcome people/partners regularly.

[2015-11-20 14:44] LauraReynal opened #98 "find a domain name for our research website"
@secretrobotron @KevZawacki @HPaulJohnson @edrushka @benrito @simonwex

We need to come up with a domain name for the research website! Throw your ideas in here :-) :smile_cat: :fire: :boat: :whale:

Research.mozilla.org is already taken

[2015-11-20 14:44] LauraReynal commented on #98
- Studying the Global Web
globalweb.org

- Mozillafoundation.org/ research

[2015-11-20 14:44] secretrobotron commented on #77
Finding a domain name: #98

[2015-11-20 14:45] secretrobotron commented on #98
https://www.mozilla.org/en-US/foundation/research

[2015-11-20 14:46] benrito commented on #98
+1 bob

[2015-11-20 14:46] LauraReynal commented on #98
Mozilla Research Lab

Mozillaresearchlab.org

[2015-11-20 14:46] secretrobotron commented on #98
mozilla.org/foundation/research

[2015-11-20 14:47] LauraReynal commented on #98
:+1:

[2015-11-20 14:47] secretrobotron commented on #98
discoveringtheglobalweb.org -->> mozilla.org/foundation/research

[2015-11-20 14:49] benrito commented on #98
I wouldn't introduce any branding now, just focus on making it part of mozilla.org

[2015-11-20 14:49] secretrobotron commented on #98
:+1: you just settled the argument we were having in realtime.

[2015-11-20 14:49] LauraReynal commented on #98
:+1:

[2015-11-20 14:49] secretrobotron commented on #98
@simonwex @jbuck can we get mozilla.org/foundation/research?

[2015-11-20 14:50] secretrobotron commented on #98
and by "get", i mean "put a new website there"

[2015-11-20 14:53] jbuck commented on #98
You can file PRs against https://github.com/mozilla/bedrock to land stuff there, but I don't think you'd be able to create a new website that lives at that subpath

[2015-11-20 14:58] LauraReynal opened #99 "Case studies idea"
When we identity organizations who can be:
- a good model of work to benchmark
- doing similar work
- or completely different but very inspiring

we want to:
- document what they do and what we learn from them with a "Case Study" template
- we could add little prompts of reflection at the end of each case study
- share this in the bi weekly research momentums? / bookclubs etc

Question:
Who is doi

[2015-11-20 14:59] LauraReynal commented on #99
http://openmatt.org/2015/08/27/impact/
as a starting point :)

[2015-11-20 15:00] secretrobotron commented on #99
@benrito what do you think of this?

@HPaulJohnson something to consider structurally as part of comms?

[2015-11-20 15:05] benrito commented on #99
not sure i understand how this fits in :) help?

[2015-11-20 16:28] edrushka commented on #98
Just want to flag that MoCo is re-doing the entire mozilla.org site next year ([old deck] (https://docs.google.com/presentation/d/1UR8cs6NUxkdEjZ-R3LGPWItgGtV-IjoE4RICrHirFhc/edit?pli=1#slide=id.g8c9d10f4a_013)). Also, getting changes to Mozilla.org/foundation is sloooooow ([this ticket] (https://github.com/MozillaFoundation/plan/issues/378) filed in March and still not complete).

[2015-11-20 17:16] secretrobotron opened #100 "Banyan Tree Spaces"
Matthew created this ticket about putting a kiosk for Webmaker/Thimble in Moz spaces: https://github.com/MozillaFoundation/plan/issues/611#event-470624976

It would be cool to iterate on this idea and make it ethnography/research/empathy/learning-based. More ideas to come.

Need:
* structure: what does it look/feel/be like
* goals: what's the benefit/outcome
* who makes it?
* who pays for it?

[2015-11-20 17:59] edrushka commented on #98
Feel like I might be going against the grain here, but to me the word "research" doesn't capture the full essence of the work. I might go with a verb like "listening" that's more evocative, friendly and interesting. "Research" feels dry and boring.

[2015-11-20 21:48] secretrobotron commented on #98
@edrushka noted. More ideas welcome :/.

[2015-11-20 21:52] edrushka commented on #98
Witness?

[2015-11-23 12:08] LauraReynal commented on #100
Love this thread.
Is there a way that this could be a mini design / research space for discoveries and reflections?
It would be interesting to have it in collaboration with Moco research team too

[2015-11-23 13:50] LauraReynal commented on #90
KPI have been updated. Sharing the document now.

[2015-11-23 13:50] #90 closed

[2015-11-23 14:03] secretrobotron commented on #90
@LauraReynal where are they now?

[2015-11-23 14:04] secretrobotron commented on #90
nvm :/. found 'em.

[2015-11-23 14:10] LauraReynal commented on #85
Buy portable printer and paper

[2015-11-23 18:24] secretrobotron commented on #96
What kind of spam do you get from the mobileopportunity/explorer lists? I got a lot of messages from explorers because it was a mailing list for which people just kept signing up. Did you get any actual spam?

[2015-11-23 22:38] xmatthewx opened #101 "Tracking software made by network members"
Fellows and others in our network have likely made some interesting software over the years (products, libraries, art pieces). How much of it do we know about?

If we track and archive these things, we can help increase their impact and share lessons and utility across the network. Worthwhile? If so, how do we do it? Do we need a process? A platform? An annual award?

[2015-11-24 11:44] LauraReynal commented on #96
Can we make it a list that is just for us or does it have to be a list that people sign up for ?

[2015-11-24 11:53] LauraReynal commented on #91
@HPaulJohnson @KevZawacki Thanks for writing the letter !
Made some suggestions in the doc.
Other than that, it's good to go for me :pineapple:

[2015-11-24 11:54] LauraReynal commented on #83
Did you get a chance to see when is an appropriate time to talk to Mofos from David ?

[2015-11-24 11:55] LauraReynal commented on #84
I think we can close this.
We shared the plans with them, now we need to keep them posted on the regular progress and start the process of recruiting volunteers from our side.

[2015-11-24 11:55] #84 closed

[2015-11-24 11:56] #70 closed

[2015-11-24 12:02] LauraReynal opened #102 "Get Business introduction letter for India visa"
For me (UK requirements)

A letter of introduction from the applicant's UK employer. A copy is accepted. This letter must:

    Be addressed to:"The Indian High Commission, India House, Aldwych, London, WC2B 4NA"
    Be on company letterhead paper with the name and address matching exactly to that which is stated on the visa form
    Include the applicant's full name as stated in their passport

[2015-11-24 12:04] LauraReynal opened #103 "Get Letter of invitation from partner in India"
@secretrobotron @thornet

*We need to get visas for multiple business entry in India. Here is what we need to ask Praveen or Babitha.
* Need to figure out if the other team members have the same requirements

A letter of invitation from the company to be visited in India. A copy is acceptable. This letter must:

    Be addressed to:"The Indian High Commission, India House, Aldwych, London, WC2B 4N

[2015-11-24 14:46] chrislarry33 commented on #101
Love this thread, thx @xmatthewx I think this is essential work for 2016

[2015-11-24 15:08] jgmac1106 commented on #101
Check out makerba.se. Something like that could be really cool....or we
could just use the site and ask people to note their involvement with
Mozilla.

On Tue, Nov 24, 2015, 9:46 AM Chris <notifications@github.com> wrote:

[2015-11-24 19:05] KevZawacki commented on #91
Feedback incorporated; latest draft [here](https://docs.google.com/document/d/1uUYf4L_UPWSxpysdsXw6gswDYogBqidLMt74p4_pNt0/edit).

@amirad, @davidascher, @chrislarry33   Can you take a quick look and offer feedback?

**TL;DR** We continue to receive funding requests for Webmaker-specific events. We need a response as to why we will no longer continue to support them. This language won't live on a

[2015-11-24 19:17] cassiemc opened #104 "Laura and Bobby to High Five"
Just coming back from PTO and catching up on all my github mail. DAMN you guys have been busy. Nice work @LauraReynal and @secretrobotron for filling up this repo with relevant and meaningful work! :hand:

[2015-11-24 19:31] davidascher commented on #91
how much money are we talking about?  In my opinion, a little bit of money
that keeps people engaged is money well spent, until we have other things
ready for them to do.

On Tue, Nov 24, 2015 at 11:05 AM Kevin Zawacki <notifications@github.com>
wrote:

[2015-11-24 19:49] kristinashu opened #105 "Design Research Website MVP"
From phase 1 of https://github.com/MozillaFoundation/research/issues/77

Based on wireframes https://redpen.io/p/oj84c5335720112e06 (but without web journey section)

Copy (in progress) and images are here: https://docs.google.com/a/mozilla.com/document/d/1ZkURIpLedt7lSBtbWv9TTqOGYo9lCwFdbtAUoieWHQw/edit?usp=sharing

cc @secretrobotron @simonwex

[2015-11-25 01:36] HPaulJohnson commented on #91
Most requests are in the ~$200 range and there's a steady flow (mutliple per week across a bunch of different MoFo'ers).

There's also a fair bit of overhead associated with actually getting payments processed as we never really perfected that system.

All that said, I'm open to continuing to fund requests for the time being if that's preferable.

[2015-11-25 11:47] LauraReynal commented on #104
Woop Woop
thanks @cassiemc for the nice words :heart: :fish: :fish_cake: :tropical_fish: :heartpulse:

[2015-11-25 12:53] secretrobotron commented on #104
:boom: :boom: :boom:
:boom: :clap: :boom:
:boom: :boom: :boom:

[2015-11-25 12:53] secretrobotron commented on #104
Actually, what's the ETA on this? My hand is ready for so many fives (low or high).

[2015-11-25 14:16] cassiemc commented on #104
I added a new milestone. It's critical we meet this date.

[2015-11-25 17:55] secretrobotron commented on #98
@davidascher any thoughts/insights?

[2015-11-25 19:03] LauraReynal commented on #98
@cassiemc @kristinashu

[2015-11-25 22:59] LauraReynal opened #106 "Write a proposal for qualitative research on the network"
@secretrobotron

[2015-11-25 23:06] LauraReynal commented on #106
As per today's meeting, let's scope out in details how we could conduct qualitative user research within the network and for the network.
We want to understand the value for network members.
Potentially try different experiments in H1 that we can learn from.

[2015-11-26 10:14] adamlofting commented on #106
Let's try and link this up to the quant network analysis and make it a combined team project / ongoing theme.

As a starting point, what qual research questions would you like to explore around the assumptions in this analysis:
https://docs.google.com/presentation/d/1iESY7AZCX2C1rvHsLyDAyAB8lRIHmonGrf9cABumNrY/edit#slide=id.ge8f972e1c_0_19

And, what would be the dream future scenario for being ab

[2015-11-26 14:27] jgmac1106 commented on #106
Here is an open source  tool that I see being used often to analyze open MOOC-like spaces such as rhizo15, and clmooc: https://nodexl.codeplex.com/

##Getting users to tell their stories
I am a big proponent that social network analysis can be used iteratively to strengthen and not just understand a  network

Also a big proponent of increasing story telling among contributors overall. Next wave of

[2015-11-26 15:05] secretrobotron opened #107 "Make a repo for Unbox/NID/Hacktrain"
What should it be called?

[2015-11-26 15:06] secretrobotron opened #108 "Plan github training for everyone in India"
Would be a good exercise before or on train. But, best to write out some things to try first.

Can borrow from other work.

[2015-11-26 15:37] cassiemc commented on #98
This is a little longwinded, sorry.

The straightforward nature of 'research' will be easier to remember in the url, it's more standard and I prefer it. We can get clever on the page copy, imo.

I'd suspect the final url won't be decided until we figure out how the new strategy or plans for the foundation site and research efforts evolve, so I wonder if in the interim if there is any harm in havin

[2015-11-26 16:45] davidascher commented on #98
I agree with Cassie but would go further. Whatever.org is fine for now, the
point as I understand it is to just get stuff out, and not try and
establish permanent home yet (esp because of the fuzziness around all our
domains right now). We're not trying to get accidental traffic. I would
focus on a workflow that is lightweight, so that we can spend more time
doing research and less time building w

[2015-11-26 17:09] secretrobotron commented on #98
That's great. build.webmaker.org/research is where we can start at least.

@LauraReynal, sound ok to you? We can revisit once strategy/domains discussion has progressed.

[2015-11-26 18:06] LauraReynal opened #109 "Dacc ! Daccodacc"
Task: @secretrobotron

[2015-11-26 18:19] secretrobotron commented on #109
Ceci vraiment n'importante quoi.

[2015-11-26 18:21] LauraReynal commented on #98
:+1: :bow: thanks everyone ! Let's do this

[2015-11-27 00:22] kristinashu commented on #105
Here's where I'm at with the comps: https://redpen.io/p/opdb303c31041d13b6

@LauraReynal @secretrobotron @simonwex @cassiemc let me know if you have any feedback.

[2015-11-27 08:16] LauraReynal commented on #105
@kristinashu it is gorgeous :heart: :cat: :tropical_fish:

Thank you !

[2015-11-27 10:21] LauraReynal opened #110 "Add Jon To this repo"
@secretrobotron can you please add @ileddigital to this repo ?
Huge thanks :tropical_fish:

[2015-11-27 10:23] LauraReynal commented on #107
Actually, I propose that we make a repo for IoT in general.
This will be used by the core team : you & I + @ileddigital + @thornet to track issues related to India, but also the IoT effort in EU.

We should think about india as part of something bigger.

What do you think ?

[2015-11-27 10:23] LauraReynal commented on #110
and @thornet

[2015-11-27 10:24] LauraReynal opened #111 "Write internal comms for India and January"
Just for the team attending the January events.
Clarification of dates
what is expected
visas etc

[2015-11-27 11:41] secretrobotron commented on #110
No, I can't. Are you an admin on this repo?
Do you want them on this one, or shall we make another NID/Unbox/Hacktrain/Quicksand one?

[2015-11-27 11:54] LauraReynal commented on #110
I think I managed to add them :smile:
AND to make you an admin :cherries:

[2015-11-27 11:54] #110 closed

[2015-11-27 11:59] LauraReynal opened #112 "Refresh the NID proposal"
Taks: Review and update the India concept document with the following:

- [ ] research questions focused on IoT
- [ ] Details of the things we want to explore
- [ ] Remove the other projects
- [ ] add the latest timeline
- [ ] make sure it's part of the bigger IoT document
- [ ] new budget with IoT efforts
- [ ] Add Quicksand as a key partner

Team de choc : @ileddigital @secretrobotron

[2015-11-27 12:04] LauraReynal commented on #112
In this document we have a set of research questions for various projects
https://docs.google.com/document/d/18JkDK5TiFXG_ZMLkJ84HQxX1aX6zGmZKsYOMjQFrGpc/edit#

In another document we also have these research questions

## Shared Research Questions
These are overarching questions. Each cohort of fellows will also have specific questions detailed in the supporting documents, linked above.

*Leaders

[2015-11-27 12:28] LauraReynal commented on #112
I took a first pass at the questions here

https://docs.google.com/document/d/1As1tlT1i-2pYrrXafBXG1j_w3GGG-geI43fGOjIhlaI/edit#

Feel free to review / edit / add comments @ileddigital @thornet @secretrobotron

[2015-11-27 12:46] secretrobotron commented on #91
:+1: love the draft, @KevZawacki, @HPaulJohnson. It sounds really encouraging.

@davidascher it does consume a lot of our (the people on this thread) time to process each one of these requests, and the __impact__ associated with these events is less clear than it was.

I think connecting directly to the reps/community/staff/others that are requesting event funding with the above letter will make e

[2015-11-27 14:13] secretrobotron commented on #105
Yep! That looks amazing.

I can shorten all of the copy to match the limit that appears in the redpen.

[2015-11-27 14:14] secretrobotron commented on #107
Yep. That's a great idea.

[2015-11-27 14:17] secretrobotron commented on #107
https://github.com/MozillaFoundation/iot/

[2015-11-27 14:17] #107 closed

[2015-11-27 22:50] secretrobotron commented on #105
Took a first stab at making it HTML: http://secretrobotron.github.io/research-website/

@kristinashu looks like you processed these images a bit. Can you share?

[2015-11-27 23:23] kristinashu commented on #105
@secretrobotron sweet! Do you have illustrator? All my working files are here if you want to take a look https://drive.google.com/a/mozilla.com/folderview?id=0B2irLVDJivhLRzVCVU9GQndCMHc&usp=sharing

I mocked up the site for a bunch of different widths (I was thinking the site would be full width and need to resize for different browsers but let know what you think).

I'm saving out the images now

[2015-11-28 00:10] kristinashu commented on #105
Here are all the cropped images https://drive.google.com/a/mozilla.com/folderview?id=0B2irLVDJivhLV01fNWhCeTlIODg&usp=sharing

Made the report thumbnails rectangular for wide screens thinking they would resize to square (by cropping the sides) on narrower browsers. But let me know if you want them at a different size.

[2015-11-28 01:13] davidascher commented on #91
I'm more than fine with not spending money on webmaker events. Do we have
emerging plans for ways to keep these community hubs engaged or is my
concern re dropping their engagement overblown?

On Fri, Nov 27, 2015, 4:46 AM Bobby Richter <notifications@github.com>
wrote:

[2015-11-29 22:12] LauraReynal opened #113 "Parking lot research questions"
(from an old proposal)

How can online communities foster peer to peer learning?
How can online communities sustain learning through creating a sense of belonging?
What would be the common points between the different Mozilla communities and the products they use: how do they differ, and how do they exist in the Mozilla ecology?
What are the social features inherent to these communities? Can socia

[2015-11-30 15:42] LauraReynal commented on #92
DONE ~ :fireworks:

[2015-11-30 15:42] #92 closed

[2015-11-30 17:37] cassiemc commented on #98
Great! Closing. Final (temporary) domain is build.webmaker.org/research

[2015-11-30 17:37] #98 closed

[2015-12-01 17:03] kristinashu commented on #105
@cassiemc have you had a chance to look at the comps? https://redpen.io/p/opdb303c31041d13b6

[2015-12-01 17:54] cassiemc commented on #105
This looks great guys. I might put a mozilla logo at the top, I think that'll lend credibility. And with the reports, do you want to include dates? Seems like an important contextual piece. @secretrobotron love your build so far, maybe you and @kristinashu can work on hover states and interactions. I think at the narrowest mobile size res the boxes should stack one on top of the other. Nice work e

[2015-12-01 18:00] secretrobotron commented on #105
:+1: @kristinashu what do you think those look like?

[2015-12-01 18:08] secretrobotron commented on #105
Actually, @kristinashu: lmk if hover states on http://secretrobotron.github.io/research-website/ work.

[2015-12-01 18:55] kristinashu commented on #105
Thanks @cassiemc! For the Mozilla logo, do you mean in addition to the tabzilla? I'll play around with adding dates in.

@secretrobotron nice progress! That button hover works for me. Could you make it fade in a little tho? So it's a little smoother.

Footer links can have the same hover states as thimble https://thimble.mozilla.org/

One nice-to-have-but-not-required transition would be if the ba

[2015-12-01 18:59] cassiemc commented on #105
I've heard unofficially that tabzilla is getting discontinued so I just meant a little mozilla logo at the top centre.

[2015-12-01 19:15] secretrobotron commented on #105
- [ ] fade in buttons
- [ ] fade in banner text
- [ ] footer hover states like thimble.mozilla.org
- [ ] real footer links
- [ ] real copy

[2015-12-01 19:34] secretrobotron commented on #96
Ordered research[at]mozillafoundation.org as an alias. Easiest for now.

[2015-12-01 19:47] kristinashu commented on #105
Updated the 1170px wide desktop comp: https://redpen.io/p/opdb303c31041d13b6
- added report dates: font has same styling as buttons (medium weight 15px) but with 50% opacity
- updated footer links: here's an SVG for the flickr icon: https://drive.google.com/open?id=0B2irLVDJivhLdDBCNWtsdDZkUEk
- removed tabzilla and added mozilla logo: top right (tried center but it look odd over the girls head) w

[2015-12-01 20:13] secretrobotron commented on #105
Super! Updated http://secretrobotron.github.io/research-website/ again. Only thing left is final copy.

@cassiemc any more thoughts?

[2015-12-01 20:19] kristinashu commented on #105
@secretrobotron photos don't seem to be loading for me?

Also, noticed the button stroke looks a little pink, they should be white.

Are you going to do a mobile state as well?

[2015-12-01 20:25] secretrobotron commented on #105
@kristinashu yeah, not sure why github decided not to host those images right now. Will probably be live in a few minutes.

What's the right colour for those buttons? I think I grabbed the rgb from your redpen.

I can do the mobile state, but I'm hesitating until a more competent CSS'er can help.

[2015-12-01 20:41] kristinashu commented on #105
@secretrobotron the line should be white, it's super thin so it was probably hard to get the colour from JPG.

Lookin' good tho!

[2015-12-01 20:43] secretrobotron commented on #105
Ah, great. Fixed. And images loading now (was totally my fault).

[2015-12-01 20:45] kristinashu commented on #105
w00t images are loading!

[2015-12-01 20:48] kristinashu commented on #105
P.S. fade in on page load is perfect!

[2015-12-01 20:54] secretrobotron commented on #105
:dancer:

[2015-12-03 17:01] LauraReynal commented on #85
make Origami

[2015-12-03 17:17] LauraReynal commented on #103
We got this one for us. We can help michelle get hers later

[2015-12-03 17:17] #103 closed

[2015-12-03 17:18] LauraReynal commented on #87
Checking on budget today during our call w/ jon

[2015-12-03 17:18] #87 closed

[2015-12-03 17:19] LauraReynal commented on #83
The slide deck is finished. Closing this. we can prob present in Orlando

[2015-12-03 17:19] #83 closed

[2015-12-03 20:19] kristinashu commented on #105
@secretrobotron since you're adding a gradient over the banner image through CSS (nice!) here's a version of the photo without the gradient added https://drive.google.com/open?id=0B2irLVDJivhLbXhEcUkwV2JJeTA

I think design is all done so I'm going to assign this ticket to you. But let me know if you need anything.

[2015-12-03 21:17] secretrobotron commented on #96
Done. Should go to @LauraReynal, @adamlofting and me.

[2015-12-03 21:17] #96 closed

[2015-12-04 20:57] xmatthewx commented on #101
I'm keen to discuss this in Orlando. There are likely hundreds of examples worth finding, documenting, and sharing. Understanding their success can help inform our own projects like a curriculum library.

[Flexbox froggy](http://flexboxfroggy.com/) is a project inspired by Luke CSS Diner. [React formation](https://github.com/k88hudson/react-formation) is a library by Kate Hudson for building robus

[2015-12-15 18:16] secretrobotron commented on #104
Verified complete in Orlando. Good job, team.

[2015-12-15 18:16] #104 closed

[2015-12-15 18:17] secretrobotron commented on #89
### Thimble
* [What are user expectations around URLs when unpublishing and republishing a project?](https://github.com/mozilla/thimble.webmaker.org/issues/1305)

[2016-01-05 21:16] gvn opened #114 "Build PHASE 1 of the research website"
Related to: https://github.com/MozillaFoundation/plan/issues/553

**Staging:** [http://gvn.github.io/research-website](http://gvn.github.io/research-website/)
**Code:** https://github.com/gvn/research-website

[2016-01-05 21:25] gvn commented on #114
@kristinashu – Here's the first draft of my responsive build: [http://gvn.github.io/research-website/](http://gvn.github.io/research-website)

Can you let me know if anything needs tweaking?

I'm missing a few assets as you can see :eyeglasses: :

- [ ] Mozilla logo SVG
- [ ] Footer T.O.S. SVG
- [ ] Footer P.P. SVG

*CC* @secretrobotron @cassiemc @LauraReynal

[2016-01-05 22:36] gvn commented on #114
Oh, also I haven't put any URLs in for the links. Do we have them, or are they still TBD?

[2016-01-05 23:45] kristinashu commented on #114
Thanks @gvn, looking good! Very responsive!

There are some things you can pull from Bobby's version of the site (http://secretrobotron.github.io/research-website/).
- URL links
- maybe the Mozilla logo SVG but if not it's here https://drive.google.com/a/mozilla.com/file/d/0B2irLVDJivhLcDZhbU5SQlVrZFE/view?usp=sharing
- footer links and icons (Email us, Talk to us on Twitter, See our pics on Flick

[2016-01-05 23:51] gvn commented on #114
Ok, cool. I am off tomorrow as usual, but I'll start addressing this feedback on Thursday! :+1:

[2016-01-06 18:27] secretrobotron commented on #114
:+1: thanks @gvn !

One thing I don't think @kristinashu mentioned: the "Read Report" buttons should fade & fill with white when you hover over them.

[2016-01-07 16:43] secretrobotron opened #115 "Point mzl.la/research at research website"
Relies on https://github.com/MozillaFoundation/research/issues/114

[2016-01-07 16:44] secretrobotron commented on #114
Related: https://github.com/MozillaFoundation/research/issues/105

[2016-01-07 16:45] secretrobotron commented on #105
Closing this now that build has started. Thanks @kristinashu :).

[2016-01-07 16:45] #105 closed

[2016-01-07 16:46] secretrobotron commented on #102
@LauraReynal let's print these to take with us.
Otherwise, done.

[2016-01-07 16:46] #102 closed

[2016-01-07 16:50] secretrobotron commented on #79
Boom.

[2016-01-07 16:50] #79 closed

[2016-01-07 16:50] secretrobotron commented on #79
@LauraReynal do designers know about this folder?

[2016-01-07 16:50] secretrobotron commented on #79
cc @KevZawacki @HPaulJohnson @lovegushwa @cassiemc ?

[2016-01-07 16:56] cassiemc commented on #79
Not sure that they do! From design team perspective, best thing might be to share the folder in Design Assets > Assets > (new photos folder), and include a readme link to the flickr page? https://drive.google.com/a/mozilla.com/folderview?id=0ByIoeeW0a3R_STBRYnYzTTJvVkk&usp=sharing

We could also just link from the Design Assets folder to a research one, if stuff is already there. Designers are cur

[2016-01-07 17:08] KevZawacki commented on #79
These could be useful to the social teams here and at MoCo. @secretrobotron is there a gallery I can share with them?

[2016-01-07 17:29] LauraReynal commented on #79
I use flickr a lot for people to view and download images. The gallery here has all the research pictures organized by albums, and the indonesia ones are here too.

Albums for each trip  https://www.flickr.com/photos/laura_nk/albums/with/72157662503996752
Indonesia https://www.flickr.com/photos/laura_nk/albums/72157662503996752

[2016-01-07 17:29] LauraReynal commented on #79
Let me know if there is anything to do. I think @lovegushwa has been putting pictures somewhere else on drive, but I cant find it

[2016-01-07 18:10] KevZawacki commented on #79
@LauraReynal Perfect, thanks!

[2016-01-07 18:50] secretrobotron commented on #79
@KevZawacki @cassiemc here's the Indonesia stuff: https://drive.google.com/a/mozilla.com/folderview?id=0B-7F6kqkuFwdVE01RFNMd010UFE&usp=sharing

[2016-01-07 23:17] gvn commented on #114
Ok, I've got another build staged if you want to take another look, @kristinashu.

It feels pretty good to me aesthetically, but I'm going to see if I can optimize the load time a bit. It's pretty slow on 3G (~16 seconds :turtle:).

Let me know if you have any other feedback...thx!

[2016-01-08 00:50] kristinashu commented on #114
Nice, images are cropping much better now.

Let me know if you want me to save out any of the images at a smaller size or something to help out with load time. That top banner image is a big one.

Only thing mentioned above that I don't see is the CSS gradient overlay on the banner image and text fade. Are you thinking of adding it?

Final picky designy things:
- please reduce the height of the ba

[2016-01-08 12:50] secretrobotron commented on #114
Lookin' good. @gvn, any update on the blog portion? Can I help put that up at all?

[2016-01-08 16:16] gvn commented on #114
I haven't gotten started on the blog yet so if you have time and want to look into it that's awesome.

If this is the final feedback then I think I can get the page wrapped up today and move onto the blog stuff this afternoon.

[2016-01-08 18:19] gvn commented on #114
@kristinashu I re-staged the build w. your feedback addressed. Can you take a look?

[2016-01-08 18:20] kristinashu commented on #114
@gvn yes, looks awesome! I think design is done.

[2016-01-08 20:00] gvn commented on #114
Great! Thanks for the feedback.

[Code](https://github.com/gvn/research-website/tree/gh-pages) is ready to deploy, so I'm closing this ticket.

[2016-01-08 20:00] #114 closed

[2016-01-08 20:22] cassiemc commented on #79
Thanks @secretrobotron! I filed a new issue in the design repo, as I don't think photo sharing has been properly tackled yet. https://github.com/MozillaFoundation/Design/issues/124

[2016-01-08 20:41] cassiemc commented on #114
You guys rocked this, can't wait to share a link.

[2016-01-08 22:02] gvn commented on #114
Thanks, @cassiemc !

[2016-01-09 18:15] #111 closed

[2016-01-09 19:20] secretrobotron commented on #114
Excellent!
- http://mzl.la/research
- https://mozilla-foundation-research.herokuapp.com/
- https://mozilla-foundation-research.herokuapp.com/globalweb

[2016-01-10 18:18] secretrobotron commented on #115
http://mzl.la/synthesis
http://mzl.la/research
http://mzl.la/globalweb

[2016-01-10 18:18] #115 closed

[2016-01-11 14:31] cassiemc commented on #114
Ok, just to confirm, we're ready to share links? @secretrobotron The last link goes to the new site but the first two are different, is that expected?

[2016-01-11 17:04] gvn commented on #114
FYI: I moved the repo to the mozilla org: https://github.com/mozilla/research-website

cc @secretrobotron

[2016-01-12 14:39] secretrobotron commented on #114
@cassiemc just http://mzl.la/globalweb for now, preferably, until there is more content to share on the rest of the blog.

Thanks @gvn!

[2016-01-12 16:35] cassiemc commented on #114
:+1:

[2016-01-19 08:54] lauradereynal opened #116 "Finish set up our instagram account and share it"

[2016-02-17 13:53] lauradereynal opened #117 "Plan production of material"
Goal: After the trips in Kenya and India, we gathered lots lots of material that needs to be produced into somethings.
Can we go over what we have and continue production ?
It would be great to upload some videos and sounds with our blog posts.

[2016-02-17 13:54] lauradereynal commented on #117
https://docs.google.com/document/d/1GVbhxJgQr9eGjU6KWb95qo-PHaPhvWLPl2uvcEHtAu8/edit
Here are our notes from India

We should add Kenya's material in here too

[2016-02-17 13:56] lauradereynal commented on #106
From today's conversation with Adam:
"This qualitative research could help us design the leadership network as a product."

We should talk to new people and put together a design process.

Let's continue to talk during our meeting later today

[2016-02-17 17:03] cassiemc commented on #117
Welcome back @LauraReynal and @secretrobotron. Would be fun to brainstorm diff. design solutions with someone from the design team, if that's helpful! This issue may be about something more direct/basic though.

[2016-02-17 17:11] lauradereynal commented on #106
- What does our timeline looks like? What needs to be answered in H1 ?
- in H2 ?
- Who is in charge of designing the value proposition ?

[2016-02-17 17:45] lauradereynal opened #118 "Produce and send a February Research Round-up"
Goal: communicate to all mofo our recent progress and work in a research update.
Maybe we can find a format that we can use every month ?

@secretrobotron

[2016-02-17 19:49] secretrobotron commented on #118
:+1: for a consistent format. Any examples from other things you like?

Maybe, broadly: Insights, Accomplishments, Successes, Lessons Learned, Next Steps, Engagement opportunities

[2016-02-17 20:29] secretrobotron commented on #118
Took a crack at it: https://docs.google.com/document/d/1jUP6EMEdun9BH0iT3oLOF21muDrUdjwrhWnqlKMa2Nk

[2016-02-17 20:30] secretrobotron commented on #108
Well beyond scope now :). Closing.

[2016-02-17 20:30] #108 closed

[2016-02-17 22:49] secretrobotron commented on #117
@cassiemc No, that would be super useful, actually. We have a bunch of ideas, and I'd love to bounce them off some designers to see how they can grow. Let @LauraReynal and I make a complete inventory of material and ideas first, and then brainstorming/help/fun would be great :+1:.

[2016-02-18 14:50] cassiemc commented on #117
Cool! Just bring it to design crit some Wednesday or schedule a call, either way!

[2016-02-19 15:03] adamlofting commented on #106
Here's a doc to work from: https://docs.google.com/document/d/1NE6l326mDEcLioETdTZBe7pdXRJThoHkrxu5eImQSmo/edit#

[2016-03-03 16:30] secretrobotron opened #119 "Bring production list over to github"
A bunch of stuff to publish. Should split it into tickets and get it all done. Should be a regular, recurring thing.

[2016-04-02 13:19] secretrobotron opened #120 "Copy error on globalweb"
In the Rio section, it says "diversity" but it should read "diversify".

[2016-07-14 14:41] lauradereynal opened #121 "add the final GSMA report on Global web"